.board-widget-content
  i.fa.fa-plus
    font-size 9px

  icon-font-size = 12px
  icon-padding-left = 1px

  i.fa.fa-user
    font-size icon-font-size
    padding-left icon-padding-left

  i.fa.fa-users
    font-size icon-font-size
    padding-left icon-padding-left
