@import 'nib'

.activity-title
  margin: 0 0.5em 0.8em
  display: flex
  justify-content:space-between

.activities
  clear: both

  .activity
    margin: 10px 0
    display: flex

    .member
      width: 24px
      height: @width

    .activity-desc
      flex: 1
      align-self: center
      margin: 0
      margin-left: 3px
      overflow: hidden;
      word-break: break-word;

      .activity-comment
        display: block
        border-radius: 3px
        background: white
        text-decoration: none
        box-shadow: 0 1px 2px rgba(0,0,0,.2)
        margin-top: 5px
        padding: 5px

      .activity-checklist
        display: block
        border-radius: 3px
        background: white
        text-decoration: none
        box-shadow: 0 1px 2px rgba(0,0,0,.2)
        margin-top: 5px
        padding: 5px
      .activity-meta
        font-size: 0.8em
        color: darken(white, 40%)
