.activity-title {
  display: flex;
  flex-direction: column;
  gap: 0.5lh;
  justify-content: space-between;
}
.reactions-popup {
  display: flex;
  gap: 1ch;
  margin: 0.5lh 0.5ch;
}
.reactions-popup .add-comment-reaction {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.7vw;
  text-align: center;
  line-height: 1.3;
  font-size: 1.2em;
}
.reactions-popup .add-comment-reaction:hover {
  background-color: #b0c4de;
}
.activities {
  clear: both;
}
.activity {
  display: flex;
}
.activities .activity {
  margin: 0.1vh 0;
  padding: 0.8vh 0;
  display: flex;
  font-size: 0.8em;
}
.activities .activity .activity-member {
  font-weight: 700;
}
.activities .activity .activity-desc {
  overflow-wrap: break-word;
  overflow: hidden;
  flex: 1;
  align-self: center;
  margin: 0;
  margin-left: 0.4vw;
  overflow: hidden;
  word-break: break-word;
}
.activities .activity .activity-desc .activity-comment {
  display: block;
  border-radius: 0.4vw;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 0.2vh 0.3vh rgba(0,0,0,0.2);
  margin-top: 0.7vh;
  padding: 0.7vh 0.7vw;
}
.activities .activity .activity-desc .activity-checklist {
  display: block;
  border-radius: 3px;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 5px;
  padding: 5px;
}
.activities .activity .activity-desc .activity-meta {
  font-size: 0.8em;
  color: #999;
}
