.new-comment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1ch;
}
.new-comment .member {
  opacity: 0.7;
}
.new-comment.is-open .member {
  opacity: 1;
}
.new-comment.is-open .helper {
  display: inline-block;
}

.new-comment, .comment {
  .is-open textarea {
    min-height: 100px;
    color: #4d4d4d;
    cursor: auto;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  textarea {
    grid-area: editor;
    background-color: #fff;
    border: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.23);
    min-height: 3lh;
    &:hover, &.is-open {
      cursor: auto;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
      border: 0;
      cursor: pointer;
    }
  }
}

.new-comment .too-long {
  margin-top: 8px;
}

.js-new-comment-form, .js-edit-comment {
  display: grid !important;
  grid-template-areas:
    "editor editor editor editor"
    "main-controls main-controls link-controls editor-controls";
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  flex: 1;
  gap: 0.3lh;
}
.comment-item {
  background-color: #fff;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.23);
  color: #8c8c8c;
  height: 36px;
  margin: 4px 4px 6px 0;
  width: 92%;
}
.comment-item:hover {
  background: #e0e0e0;
}
.comment-item.add-comment {
  display: flex;
  margin: 5px;
}
.comment-item.add-comment a {
  display: block;
  margin: auto;
}
.comments {
  clear: both;
  display: flex;
  flex-direction: column;
  gap: 1lh;
}
.comments .comment {
  display: flex;
  gap: 1ch;
}

.comments .comment .comment-member {
  font-weight: 700;
}
.comments .comment .comment-desc {
  overflow-wrap: break-word;
  overflow: hidden;
  flex: 1;
  align-self: center;
  margin: 0;
  overflow: hidden;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  gap: 0.3lh;
}
.comments .comment .comment-desc .comment-text {
  display: block;
  border-radius: 3px;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 5px;
  padding: 5px;
}
.comments .comment .comment-desc .reactions {
  display: flex;
  margin-top: 5px;
  gap: 5px;
  align-items: center;
}
.comments .comment .comment-desc .reactions .open-comment-reaction-popup {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 24px;
}
.comments .comment .comment-desc .reactions .open-comment-reaction-popup span {
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  margin-left: 4px;
}
.comments .comment .comment-desc .reactions .reaction {
  cursor: pointer;
  border: 1px solid #808080;
  border-radius: 15px;
  display: flex;
  padding: 2px 5px;
}
.comments .comment .comment-desc .reactions .reaction.selected {
  background-color: #b0c4de;
}
.comments .comment .comment-desc .reactions .reaction:hover {
  background-color: #b0c4de;
}
.comments .comment .comment-desc .comment-meta {
  font-size: 0.8em;
  color: #999;
}
