template(name="cardButtons")
  if hasCardButtons
    .card-details-item.card-details-item-buttons
      h3.card-details-item-title
        i.fa.fa-hand-pointer-o
        | {{_ 'r-card-button'}}
      .card-details-item-content.card-buttons
        each cardButtonRules
          button.primary.js-run-card-button(data-rule-id="{{ruleId}}")
            i.fa.fa-magic
            = ' '
            = label
