template(name="rulesMain")
  if rulesListVar.get
    +rulesList
  else if rulesTriggerVar.get
    +rulesTriggers(ruleName=ruleName triggerVar=triggerVar)
  else if rulesActionVar.get
    +rulesActions(ruleName=ruleName triggerVar=triggerVar)