template(name="rulesList")
  .rules
    h2
      i.fa.fa-magic
      | {{{_ 'r-board-rules' }}}

    ul.rules-list
      each rules
        li.rules-lists-item
          p 
            = title
          div.rules-btns-group
            button.js-goto-details
              i.fa.fa-eye
              | {{{_ 'r-view-rule'}}}
            if currentUser.isAdmin
              button.js-delete-rule
                i.fa.fa-trash-o
                | {{{_ 'r-delete-rule'}}}
      else
        li.no-items-message {{{_ 'r-no-rules' }}}
    if currentUser.isAdmin
      div.rules-add
        button.js-goto-trigger
          i.fa.fa-plus
          | {{{_ 'r-add-rule'}}}
        input(type=text,placeholder="{{{_ 'r-new-rule-name' }}}",id="ruleTitle")