template(name="rules")
  if rulesListVar.get
    +rulesList
  else if rulesTriggerVar.get
    +rulesTrigger

template(name="rulesList")
  .rules
    h2
      i.fa.fa-cutlery
      | Project rules

    ul.rules-list
      each rules
        li.rules-lists-item
          p 
            = title
          div.rules-btns-group
            button
              i.fa.fa-eye
              | View rule
            button.js-delete-rule
              i.fa.fa-trash-o
              | Delete rule
      else
        li.no-items-message No rules
    div.rules-add
      button.js-add-rule
        i.fa.fa-plus
        | Add rule
      input(type=text,placeholder="New rule name",id="ruleTitle")

template(name="rulesTrigger")
  h2
    i.fa.fa-cutlery
    | Rule "#{ruleName.get}"" - Add triggers
  .triggers-content
    .triggers-body
      .triggers-side-menu
        ul
          li.active
            i.fa.fa-columns
          li
            i.fa.fa-sticky-note
          li
            i.fa.fa-check
      .triggers-main-body
        +boardTriggers

template(name="boardTriggers")
  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a card is
      div.trigger-dropdown
        select
    div.trigger-button
      i.fa.fa-plus


   
  



