template(name="rulesTriggers")
  h2
    i.fa.fa-magic
    | {{{_ 'r-rule' }}} "#{data.ruleName.get}" - {{{_ 'r-add-trigger'}}}
  .triggers-content
    .triggers-body
      .triggers-side-menu
        ul
          li.active.js-set-board-triggers
            i.fa.fa-columns
          li.js-set-card-triggers
            i.fa.fa-sticky-note
          li.js-set-checklist-triggers
            i.fa.fa-check
      .triggers-main-body
        if showBoardTrigger.get
          +boardTriggers
        else if showCardTrigger.get
          +cardTriggers
        else if showChecklistTrigger.get
          +checklistTriggers
  div.rules-back
        button.js-goback
          i.fa.fa-chevron-left
          | {{{_ 'back'}}}
