template(name="ruleDetails")
  .rules
    h2
      i.fa.fa-magic
      | {{{_ 'r-rule-details' }}}
    .triggers-content
        .triggers-body
            .triggers-main-body
                div.trigger-item
                    div.trigger-content
                        div.trigger-text 
                        = trigger 
                div.trigger-item
                    div.trigger-content
                        div.trigger-text 
                        = action 
    
    