template(name="rulesList")
  .rules(class=currentBoard.colorClass)
    h2
      i.fa.fa-magic
      | {{_ 'r-board-rules' }}

    ul.rules-list
      each rules
        li.rules-lists-item
          p
            = title
          div.rules-btns-group
            button.primary.wide.js-goto-details(type="submit")
              i.fa.fa-eye
              | {{_ 'r-view-rule'}}
            if currentUser.isAdmin
              button.primary.wide.js-delete-rule(type="submit")
                i.fa.fa-trash
                | {{_ 'r-delete-rule'}}
            else if currentUser.isBoardAdmin
              button.primary.wide.js-delete-rule(type="submit")
                i.fa.fa-trash
                | {{_ 'r-delete-rule'}}
      else
        li.no-items-message {{_ 'r-no-rules' }}
    if currentUser.isAdmin
      div.rules-add
        button.primary.wide.rules-add-trigger.js-goto-trigger(type="submit")
          i.fa.fa-plus
          | {{_ 'r-add-rule'}}
        input(type=text,placeholder="{{_ 'r-new-rule-name' }}",id="ruleTitle")
    else if currentUser.isBoardAdmin
      div.rules-add
        button.primary.wide.rules-add-trigger.js-goto-trigger(type="submit")
          i.fa.fa-plus
          | {{_ 'r-add-rule'}}
        input(type=text,placeholder="{{_ 'r-new-rule-name' }}",id="ruleTitle")
