.rules-list
  overflow-y: scroll
.rules-lists-item
  display: block
  position: relative
  overflow: auto
  p
  	display: inline-block
  	float: left
  	margin: revert

.rules-btns-group
  position: absolute
  right: 0
  top: 50%
  transform: translateY(-50%)
  button
  	margin: auto
.rules-add
  display: block
  overflow: auto
  margin-top: 25px
  margin-bottom: 5px
  input
  	display: inline-block
  	float: right
  	margin: auto
  	margin-right: 10px
  button
  	display: inline-block
  	float: right
  	margin: auto

  	