template(name="rulesTriggers")
  h2
    i.fa.fa-cutlery
    | Rule "#{data.ruleName.get}" - Add trigger
  .triggers-content
    .triggers-body
      .triggers-side-menu
        ul
          li.active.js-set-board-triggers
            i.fa.fa-columns
          li.js-set-card-triggers
            i.fa.fa-sticky-note
          li.js-set-checklist-triggers
            i.fa.fa-check
      .triggers-main-body
        if showBoardTrigger.get
          +boardTriggers
        else if showCardTrigger.get
          +cardTriggers
        else if showChecklistTrigger.get
          +checklistTriggers