template(name="cardActions")
  div.trigger-item
    div.trigger-content
      div.trigger-dropdown
        select(id="label-action")
          option(value="add") {{{_'r-add'}}}
          option(value="remove") {{{_'r-remove'}}}
      div.trigger-text 
        | {{{_'r-label'}}}
      div.trigger-dropdown
        select(id="label-id")
          each labels
            option(value="#{_id}")
              = name
    div.trigger-button.js-add-label-action.js-goto-rules
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-dropdown
        select(id="member-action")
          option(value="add") {{{_'r-add'}}}
          option(value="remove") {{{_'r-remove'}}}
      div.trigger-text 
        | {{{_'r-member'}}}
      div.trigger-dropdown
        input(id="member-name",type=text,placeholder="{{{_'r-name'}}}")  
    div.trigger-button.js-add-member-action.js-goto-rules
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | {{{_'r-remove-all'}}}
    div.trigger-button.js-add-removeall-action.js-goto-rules
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text
        | {{{_'r-set-color'}}}
      div.trigger-dropdown
        select(id="color-action")
          option(value="white")         {{{_'color-white'}}}
          option(value="green")         {{{_'color-green'}}}
          option(value="yellow")        {{{_'color-yellow'}}}
          option(value="orange")        {{{_'color-orange'}}}
          option(value="red")           {{{_'color-red'}}}
          option(value="purple")        {{{_'color-purple'}}}
          option(value="blue")          {{{_'color-blue'}}}
          option(value="sky")           {{{_'color-sky'}}}
          option(value="lime")          {{{_'color-lime'}}}
          option(value="pink")          {{{_'color-pink'}}}
          option(value="black")         {{{_'color-black'}}}
          option(value="silver")        {{{_'color-silver'}}}
          option(value="peachpuff")     {{{_'color-peachpuff'}}}
          option(value="crimson")       {{{_'color-crimson'}}}
          option(value="plum")          {{{_'color-plum'}}}
          option(value="darkgreen")     {{{_'color-darkgreen'}}}
          option(value="slateblue")     {{{_'color-slateblue'}}}
          option(value="magenta")       {{{_'color-magenta'}}}
          option(value="gold")          {{{_'color-gold'}}}
          option(value="navy")          {{{_'color-navy'}}}
          option(value="gray")          {{{_'color-gray'}}}
          option(value="saddlebrown")   {{{_'color-saddlebrown'}}}
          option(value="paleturquoise") {{{_'color-paleturquoise'}}}
          option(value="mistyrose")     {{{_'color-mistyrose'}}}
          option(value="indigo")        {{{_'color-indigo'}}}
    div.trigger-button.js-set-color-action.js-goto-rules
      i.fa.fa-plus
