template(name="mailActions")
  div.trigger-item.trigger-item-mail
    div.trigger-content.trigger-content-mail
      div.trigger-text.trigger-text-email
        | {{_'r-send-email'}}
      div.trigger-dropdown-mail
        input(id="email-to",type=text,placeholder="{{_'r-to'}}")
      input(id="email-subject",type=text,placeholder="{{_'r-subject'}}")
      textarea(id="email-msg")  
    div.trigger-button.trigger-button-email.js-mail-action.js-goto-rules
      i.fa.fa-plus
