@import 'nib'

.clear
  clear: both

.clearfix
  clearfix()

.hide
  display: none

.show
  display: block

.bold
  font-weight: 700

.center
  text-align: center

.left
  float: left

.right
  float: right

.first
  margin-left: 0
  padding-left: 0

.last
  margin-right: 0
  padding-right: 0

.top
  margin-top: 0
  padding-top: 0

.bottom
  margin-bottom: 0
  padding-bottom: 0

.relative
  position: relative

.block
  display: block

.inline
  display: inline

.inline-block
  display: inline-block

.pointer
  cursor: pointer

.ellip
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.underline
  text-decoration: underline

.lowercase
  text-transform: lowercase

.invisible
  visibility: hidden

.wrapword
  word-wrap: break-word

.grab
  cursor: grab

.grabbing
  cursor: grabbing
