.fancy-scrollbar
  -webkit-overflow-scrolling: touch

  .fancy-scrollbar::-webkit-scrollbar
    height: 9px
    width: 9px

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment
    background: transparent
    display: none

  &::-webkit-scrollbar-track-piece
    background: #dbdbdb

    &:vertical:start
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0

    &:vertical:end
      border-top-left-radius: 0
      border-top-right-radius: 0
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px

    &:horizontal:start
      border-top-left-radius: 5px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-bottom-left-radius: 5px

    &:horizontal:end
      border-top-left-radius: 0
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 0

  &::-webkit-scrollbar-thumb:vertical,
  &::-webkit-scrollbar-thumb:horizontal
    background: #c2c2c2
    border-radius: 5px
    display: block
    height: 50px
