.emoji
  height: 18px
  width: 18px
  vertical-align: text-bottom

// Implement a thiner close icon as suggested in
// https://github.com/FortAwesome/Font-Awesome/issues/1540#issuecomment-68689950
.fa.fa-times-thin:before
  content: '\00d7';

.fa.fa-globe.colorful
  color: #4caf50

.fa.fa-lock.colorful
  color: #f44336

.pop-over .pop-over-list li a:hover
  .fa, .fa.colorful
    color: white

    &:hover
      color: white

a
  &.fa, i.fa
    color: darken(white, 35%)

  &:hover
    &.fa, i.fa
      color: darken(white, 60%)
