/**
 * We should merge these declarations in the appropriate stylus files.
 */

.dn {
    display:none;
}

.header-btn-btn {
    padding-left:23px!important;
}

.bgnone {
    background:none!important;
}

.tac {
    text-align:center;

    h1 {
        font-size: 2em;
    }
}

.tdn {
    text-decoration:none;
}

.header-member {
    min-width:105px!important;
    text-align:center;
}

.primarys {
    font-size:20px;
    line-height: 1.44em;
    padding: .6em 1.3em!important;
    border-radius: 3px!important;
    box-shadow: 0 2px 0 #4d4d4d!important;
}

.layout-twothirds-center {
    display: block;
    max-width: 585px;
    margin: 0 auto;
    position: relative;
    font-size:20px;
    line-height: 100px;
}

#WindowTitleEdit .single-line, .single-line2 {
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    height: 60px;
}

.single-line2 {
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    height: 108px;
}

#header-search {
    float: left;
    margin: 1px 8px 0 0;
    position: relative;
    z-index: 1;

    label {
        display:none;
    }
    input[type="text"] {
        background:rgba(255,255,255,0.5);
        border-top-left-radius:3px;
        border-top-right-radius:0;
        border-bottom-right-radius:0;
        border-bottom-left-radius:3px;
        border:none;
        float:left;
        font-size:13px;
        height:29px;
        min-height:29px;
        line-height:19px;
        width:160px;
        margin:0;

        &:hover{
            background:rgba(255,255,255,0.7);
        }

        &:focus{
            background:#e8ebee;
            -webkit-box-shadow:none;
            box-shadow:none
        }
    }

    .header-btn{
        border-top-left-radius:0;
        border-top-right-radius:3px;
        border-bottom-right-radius:3px;
        border-bottom-left-radius:0
    }

    input[type="submit"]{
        display:none
    }
}
