template(name="accessibilityHeaderBar")
  if currentUser
    h1
      if isAccessibilityEnabled
        = accessibilityTitle
      else
        | {{_ 'accessibility'}}

template(name="accessibility")
  if currentUser
    .accessibility-page
      if isAccessibilityEnabled
        .accessibility-page-content
          +viewer
            | {{accessibilityContent}}
      else
        .accessibility-page-content
          | {{_ 'accessibility-info-not-added-yet'}}
