.broken-cards-card-wrapper {
  margin-top: 0;
  margin-bottom: 1.3vh;
  border-width: 0.4vw !important;
  border-color: #808080 !important;
  border-style: solid;
  border-radius: 0.7vw;
  padding: 2vh 2vw;
  background-color: #fff;
}
.broken-cards-wrapper {
  max-width: min(500px, 65vw);
  margin-right: auto;
  margin-left: auto;
}
.broken-cards-card-title {
  font-weight: bold;
}
.broken-cards-context {
  display: inline-block;
}
.broken-cards-context-separator {
  font-weight: bold;
}
.broken-cards-null {
  color: #8b0000;
  font-style: italic;
}
