template(name="editor")
  textarea.editor(
    class="{{class}}"
    id=id
    autofocus=autofocus
    placeholder="{{_ 'comment-placeholder'}}")
    +Template.contentBlock

template(name="viewer")
  .viewer
    +mentions
      +emoji
        +markdown
          {{> UI.contentBlock }}
