.new-comment, .inlined-form {
  a.fa.fa-brands.fa-markdown, a.fa.fa-copy {
    display: flex;
    justify-content: end;
  }
}
.editor-controls {
  display: flex;
  justify-content: end;
  grid-area: editor-controls;
  align-items: center;
  align-self: start;
  gap: 1ch;
}

.editor {
  grid-area: editor;
}