@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('/fonts/roboto-regular.woff2') format('woff2'),
       url('/fonts/roboto-regular.woff') format('woff')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url('/fonts/roboto-bold.woff2') format('woff2'),
       url('/fonts/roboto-bold.woff') format('woff')

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  src: local('Poppins'),
       local('Poppins-Regular'),
       url('/fonts/poppins-regular.woff') format('woff')

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 500
  src: local('Poppins Medium'),
       local('Poppins-Medium'),
       url('/fonts/poppins-medium.woff') format('woff')

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 600
  src: local('Poppins Bold'),
       local('Poppins-Bold'),
       url('/fonts/poppins-bold.woff') format('woff')

@font-face
  font-family: 'dashicons'
  font-style: normal
  font-weight: 400
  src: local('dashicons'),
       local('dashicons'),
       url('/fonts/dashicons.woff2') format('woff2'),
       url('/fonts/dashicons.woff') format('woff')

@font-face
  font-family: 'tungestun'
  font-style: normal
  font-weight: 400
  src: local('tungestun'),
       local('element'),
       url('/fonts/element-icons.woff') format('woff')

@font-face
  font-family: 'tungestun'
  font-style: bold
  font-weight: 500
  src: local('tungestun'),
       local('tungestun'),
       url('/fonts/tungestun.woff2') format('woff2'),
       url('/fonts/tungestun.woff') format('woff')
