@font-face
  font-family: "Trebuchet MS", Helvetica, sans-serif
  font-style: normal
  font-weight: 400
  src: local("Trebuchet MS")
       url("/usr/share/fonts/truetype/msttcorefonts/trebuc.ttf")

@font-face
  font-family: "Trebuchet MS", Helvetica, sans-serif
  font-style: normal
  font-weight: 700
  src: local("Trebuchet MS")
       url("/usr/share/fonts/truetype/msttcorefonts/trebucbd.ttf")
