@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto Consended Light'),
       local('Roboto-Consended-Light'),
       url('/fonts/roboto-condensed-light.woff') format('woff'),
       url('/fonts/roboto-condensed-light.woff') format('woff')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  src: local('Roboto Consended Bold'),
       local('Roboto-Consended-Bold'),
       url('/fonts/roboto-condensed-bold.woff2') format('woff'),
       url('/fonts/roboto-condensed-bold.woff') format('woff')
