.shortcuts-list
  .shortcuts-list-item
    border-bottom: 1px solid darken(white, 25%)
    padding: 10px 5px

    &:last-child
      border-bottom: none

    .shortcuts-list-item-keys
      margin-top: 5px
      float: right

      kbd
        padding: 5px 8px
        margin: 5px
        font-size: 18px

    .shortcuts-list-item-action
      font-size: 1.4em
      margin: 5px
