.shortcuts-list
  .shortcuts-list-item
    border-bottom: 1px solid darken(white, 25%)
    padding: 10px 5px

    &:last-child
      border-bottom: none

    .shortcuts-list-item-keys
      margin-top: 5px
      float: right

      kbd
        padding: 5px 8px
        margin: 5px
        font-size: 18px
        font-weight: bold
        background: white
        border-radius: 3px
        border: 1px solid darken(white, 10%)
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15)

    .shortcuts-list-item-action
      font-size: 1.4em
      margin: 5px
