.wrapper.shortcuts-list
  h2
    i.fa.fa-keyboard-o
    | {{_ 'keyboard-shortcuts'}}

  each mapping
    .shortcuts-list-item
      .shortcuts-list-item-keys
        each keys
          kbd= this
      .shortcuts-list-item-action {{_ action}}
