template(name="shortcutsHeaderBar")
  h1
    a.back-btn(href="{{pathFor 'home'}}")
      | ◀️
    | {{_ 'keyboard-shortcuts'}}

template(name="shortcutsModalTitle")
  h2
    | ⌨️
    | {{_ 'keyboard-shortcuts'}}

template(name="keyboardShortcuts")
  .wrapper.shortcuts-list
    each mapping
      .shortcuts-list-item
        .shortcuts-list-item-keys
          each keys
            kbd= this
        .shortcuts-list-item-action {{_ action}}
