head
  title LibreBoard
  meta(name="viewport"
   content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0")
  link(rel="shortcut icon" href="/favicon.png")

template(name="userFormsLayout")
  section.auth-layout
    h1.at-form-landing-logo
      img(src="/logo.png" title="LibreBoard")
    +yield

template(name="defaultLayout")
  #surface
    +header
    #content
      +yield

template(name="notfound")
  +message(label='page-not-found')

template(name="message")
  .big-message.quiet(class=color)
    h1 {{_ label}}
    with(pathFor route='atSignIn')
      p {{{_ 'page-maybe-private' this}}}
