.my-cards-board-wrapper {
  border-radius: 0 0 7px 7px;
  min-width: min(400px, 52vw);
  margin-bottom: 23px;
  margin-inline-end: auto;
  margin-inline-start: auto;
  border-width: 4px;
  border-style: solid;
  border-color: #a2a2a2;
}
.my-cards-board-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 6px 10px;
  background-color: #808080;
  color: #fff;
}
.my-cards-swimlane-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 10px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 6px;
  text-align: center;
}
.swimlane-default-color {
  background-color: #d3d3d3;
}
.my-cards-list-title {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 8px;
}
.my-cards-list-wrapper {
  margin: 12px 18px;
  border-radius: 10px;
  display: inline-grid;
  min-width: min(250px, 32vw);
  max-width: min(350px, 45vw);
}
.my-cards-card-wrapper {
  margin-top: 0;
  margin-bottom: 12px;
}
.my-cards-dueat-list-wrapper {
  max-width: min(500px, 65vw);
  margin-inline-end: auto;
  margin-inline-start: auto;
}
.my-cards-board-table thead {
  border-bottom: 3px solid #4d4d4d;
  background-color: transparent;
}
.my-cards-board-table th,
.my-cards-board-table td {
  border: 0;
}
.my-cards-board-table tr {
  border-bottom: 2px solid #a2a2a2;
}
.my-cards-card-title-table {
  font-weight: bold;
  padding-inline-start: 2px;
  max-width: 243px;
}
.my-cards-board-badge {
  width: 36px;
  height: 24px;
  float: inline-start;
  border-radius: 5px;
  margin-inline-end: 5px;
}
