body.mobile-mode {
  .my-cards-board-wrapper {
    width: 100vw;
  }
  .my-cards-swimlane-body {
    grid-auto-flow: row;
  }
}
.my-cards-swimlane-body {
  display: grid;
  grid-auto-flow: column;
  gap: 1ch;
}
.my-cards-swimlane-title {
  font-size: clamp(1em, 2.5vw, 1.3rem);
  font-weight: bold;
  padding: 0.7vh 0.7vw;
  padding-bottom: 0.5vh;
  margin-top: 0;
  margin-bottom: 0.7vh;
  text-align: center;
}
.swimlane-default-color {
  background-color: #d3d3d3;
}
.my-cards-list-wrapper {
  display: flex;
  flex-direction: column;
  max-width: clamp(300px, 20vw, 30vw);
}

body.mobile-mode .my-cards-list-wrapper {
  max-width: unset;
}
