template(name="myCardsHeaderBar")
  h1
    a.back-btn(href="{{pathFor 'home'}}")
      i.fa.fa-chevron-left
    | {{_ 'my-cards'}}

template(name="myCardsModalTitle")
  h2
    i.fa.fa-keyboard-o
    | {{_ 'my-cards'}}

template(name="myCards")
  .wrapper
    each board in myBoards
      .my-cards-board-wrapper
        .board-title
          +viewer
            = board.title
        each swimlane in board.mySwimlanes
          .swimlane-title(class="{{#if swimlane.colorClass}}{{ swimlane.colorClass }}{{else}}swimlane-default-color{{/if}}")
            +viewer
              = swimlane.title
          each list in swimlane.myLists
            .my-cards-list-wrapper
              .list-title(class=list.colorClass)
                +viewer
                  = list.title
              each card in list.myCards
                a.minicard-wrapper.card-title(href=card.absoluteUrl)
                  +minicard(card)
