.my-cards-list
  .my-cards-list-item
    border-bottom: 1px solid darken(white, 25%)
    padding: 10px 5px

    &:last-child
      border-bottom: none

    .my-cards-list-item-keys
      margin-top: 5px
      float: right

      kbd
        padding: 5px 8px
        margin: 5px
        font-size: 18px

    .my-cards-list-item-action
      font-size: 1.4em
      margin: 5px

.board-title
  font-size: 1.4rem
  font-weight: bold

.swimlane-title
  font-size: 1.2rem
  font-weight: bold
  margin-left: 1em
  margin-top: 10px

.list-title
  margin-top: 5px
  font-weight: bold
  margin-left: 1.6rem

.card-title
  margin-top: 5px
  margin-left: 1.8rem
  max-width: 350px;
