.my-cards-board-wrapper
  border-radius: 0 0 4px 4px;
  //padding: 0.5rem
  min-width: 400px
  margin-bottom: 2rem
  margin-right: auto
  margin-left: auto
  border-width: 2px
  border-style: solid
  border-color: #a2a2a2
  
.my-cards-board-title
  font-size: 1.4rem
  font-weight: bold
  padding: 0.5rem
  background-color: grey
  color: white

.my-cards-swimlane-title
  font-size: 1.1rem
  font-weight: bold
  padding: 0.5rem
  padding-bottom: 0.4rem
  margin-top: 0
  margin-bottom: 0.5rem
  //border-top: black 1px solid
  //border-bottom: black 1px solid
  text-align: center

.swimlane-default-color
  background-color: lightgrey

.my-cards-list-title
  font-weight: bold
  font-size: 1.1rem
  //padding-bottom: 0
  //margin-bottom: 0
  text-align: center
  margin-bottom: 0.7rem

.my-cards-list-wrapper
  margin: 1rem
  border-radius: 5px
  //padding: 1.5rem
  //padding-top: 0.75rem
  display: inline-grid
  min-width: 250px
  max-width: 350px

.my-cards-card-wrapper
  margin-top: 0
  margin-bottom: 10px

.my-cards-dueat-list-wrapper
  max-width: 500px
  margin-right: auto
  margin-left: auto
