template(name="myCardsHeaderBar")
  h1
    a.back-btn(href="{{pathFor 'home'}}")
      i.fa.fa-chevron-left
    | {{_ 'my-cards'}}

template(name="myCardsModalTitle")
  h2
    i.fa.fa-keyboard-o
    | {{_ 'my-cards'}}

template(name="myCards")
  .wrapper
    each board in cardsFind
      .my-cards-board-wrapper
        .board-title
          +viewer
            = board.title
        each swimlane in board.swimlanes
          .swimlane-title(class=swimlane.colorClass)
            +viewer
              = swimlane.title
          each list in swimlane.lists
            .my-cards-list-wrapper
              .list-title(class=list.colorClass)
                +viewer
                  = list.title
              each card in list.cards
                a.minicard-wrapper.card-title(href=card.absoluteUrl)
                  +minicard(card)
