template(name="spinnerWave")
  .sk-spinner.sk-spinner-wave(class=currentBoard.colorClass)
    +spinnerWaveRaw

template(name="spinnerWaveRaw")
  .sk-rect1
  .sk-rect2
  .sk-rect3
  .sk-rect4
  .sk-rect5
