template(name="spinnerBounce")
  .sk-spinner.sk-spinner-bounce(class=currentBoard.colorClass)
    +spinnerBounceRaw

template(name="spinnerBounceRaw")
  .sk-bounce1
  | &nbsp;
  .sk-bounce2
  | &nbsp;
  .sk-bounce3
  | &nbsp;
