template(name="spinnerCubeGrid")
  .sk-spinner.sk-spinner-cube-grid(class=currentBoard.colorClass)
    +spinnerCubeGridRaw

template(name="spinnerCubeGridRaw")
  .sk-cube-grid.sk-cube-grid1
  .sk-cube-grid.sk-cube-grid2
  .sk-cube-grid.sk-cube-grid3
  .sk-cube-grid.sk-cube-grid4
  .sk-cube-grid.sk-cube-grid5
  .sk-cube-grid.sk-cube-grid6
  .sk-cube-grid.sk-cube-grid7
  .sk-cube-grid.sk-cube-grid8
  .sk-cube-grid.sk-cube-grid9
