template(name="spinnerDoubleBounce")
  .sk-spinner.sk-spinner-double-bounce(class=currentBoard.colorClass)
    +spinnerDoubleBounceRaw

template(name="spinnerDoubleBounceRaw")
  .sk-double-bounce1
  .sk-double-bounce2
