template(name="spinnerWave")
  .sk-spinner.sk-spinner-wave(class=currentBoard.colorClass)
    +spinnerWaveRaw

template(name="spinnerWaveRaw")
  .sk-rect1
  | &nbsp;
  .sk-rect2
  | &nbsp;
  .sk-rect3
  | &nbsp;
  .sk-rect4
  | &nbsp;
  .sk-rect5
  | &nbsp;
