<template name="notfound">
    {{ > message label='page-not-found'}}
</template>

<template name='message'>
    <div class="big-message quiet {{ color }}">
        <h1>{{_ label}}</h1>
        {{#with pathFor route='atSignIn'}}
            <p>{{{_ 'page-maybe-private' this}}}</p>
        {{/with}}
    </div>
</template>

<!-- XXX This should be moved to editor.jade but there is an issue with jade
     handling of the markdown component. -->

<template name="viewer">{{#markdown}}{{#emoji}}{{#mentions}}{{> UI.contentBlock }}{{/mentions}}{{/emoji}}{{/markdown}}</template>
