template(name="importPopup")
  if error.get
    .warning {{_ error.get}}
  form
    p: label(for='import-textarea') {{_ getLabel}}
    textarea#import-textarea.js-import-json(placeholder="{{_ 'import-json-placeholder'}}" autofocus)
    input.primary.wide(type="submit" value="{{_ 'import'}}")
