.map-members
  .mapping:first-of-type
    border-top: solid 1px #999
  .mapping
    padding: 10px 0
    border-bottom: solid 1px #999
    .source
      display: inline-block
      width: 80%
    .wekan
      display: inline-block
      width: 35px
      .member
        float: none

a.show-mapping
  text-decoration underline
