.map-members
  .mapping
    margin-bottom: 10px
    margin-top: 10px
    border-bottom: solid
    .source
      display: inline-block
      width: 80%
    .wekan
      display: inline-block
      width: 35px
      .member
        float: none
