template(name="importPopup")
  if error.get
    .warning {{_ error.get}}
  form
    label
      | {{_ getLabel}}
      textarea.js-card-json(placeholder="{{_ 'import-json-placeholder'}}" autofocus)
    input.primary.wide(type="submit" value="{{_ 'import'}}")
