template(name="headerUserBar")
  a#header-user-bar.js-open-header-member-menu
    .header-user-bar-name
      i.fa.fa-chevron-down
      if currentUser.profile.name
        = currentUser.profile.name
      else
        = currentUser.username
    +userAvatar(user=currentUser)

template(name="memberHeader")
  a.header-member.js-open-header-member-menu
    span= currentUser.profile.name
    +userAvatar(user=currentUser size="small")

template(name="memberMenuPopup")
  ul.pop-over-list
    li: a(href="{{pathFor route='Profile' username=currentUser.username}}") {{_ 'profile'}}
    li: a.js-language {{_ 'language'}}
    li: a(href = "{{pathFor route='Settings'}}") {{_ 'settings'}}
  hr
  ul.pop-over-list
    li: a.js-logout {{_ 'log-out'}}
