template(name='passwordInput')
  .at-input
    label(for='at-field-{{_id}}') {{displayName}}
    .password-input-container
      input.password-field(type="{{type}}" placeholder="{{displayName}}" autocomplete="{{autocomplete}}" required="{{required}}")
      button.password-toggle-btn.primary(type="button" tabindex="-1" aria-label="Toggle password visibility" title="Toggle password visibility")
        i.fa.fa-eye.eye-icon
        i.fa.fa-eye-slash.eye-slash-icon
    if errs
      .at-error
        each errs
          div {{this}}