@import 'nib'

avatar-radius = 50%

.member
  border-radius: 3px
  display: block
  position: relative
  float: left
  height: 30px
  width: @height
  margin: 0 4px 4px 0
  cursor: pointer
  user-select: none
  z-index: 1
  text-decoration: none
  border-radius: avatar-radius

  .avatar
    overflow: hidden
    border-radius: avatar-radius

    &.avatar-initials
      height: 70%
      width: @height
      padding: 15%
      background-color: #dbdbdb
      color: #444444
      position: absolute

    &.avatar-image
      object-fit: cover;
      object-position: center;
      height: 100%
      width: @height

  .member-presence-status
    background-color: #b3b3b3
    border: 1px solid #fff
    border-radius: 50%
    height: 7px
    width: @height
    position: absolute
    right: -1px
    bottom: -1px
    border: 1px solid white
    z-index: 15

    &.active
      background: #64c464
      border-color: #daf1da

    &.idle
      background: #e4e467
      border-color: #f7f7d4

    &.disconnected
      background: #bdbdbd
      border-color: #ededed

    &.pending
      background: #e44242
      border-color: #f1dada

  .edit-avatar
    position: absolute
    top: 0
    height: 100%
    width: 100%
    border-radius: avatar-radius
    background: black
    display: flex
    align-items: center
    justify-content: center
    opacity: 0

    &:hover
      opacity: 0.6

    i.fa-pencil
      color: white


  &.add-member
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0 0 0 2px darken(white, 25%) inset

    &:hover, &.is-active
      box-shadow: 0 0 0 2px darken(white, 60%) inset

.atMention
  background: #dbdbdb
  border-radius: 3px
  padding: 1px 4px
  margin: -1px 0
  display: inline-block

  &.me
    background: #cfdfe8

.mini-profile-info
  margin-top: 10px

  .info
    padding-top: 5px

    h3, p
      margin-bottom: 0
      padding-left: 0

    p
      padding-top: 0

  .member
    width: 50px
    height: @width
    margin-right: 10px
