.member {
  display: flex;
  background-color: #dbdbdb;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 0.2em;
  font-size: 0.9em;
  min-width: 3ch;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  color: #111;
  margin: 0 0.2ch;
}

.js-select-initials {
  justify-content: start;
  p {
    margin: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.member .avatar.avatar-image {
  object-fit: cover;
  object-position: center;
}
.member .member-presence-status {
  background-color: #b3b3b3;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  position: absolute;
  transform: translate(1.5ch, 1.5ch);
  border: 1px solid #fff;
  z-index: 15;
}
.member .member-presence-status.active {
  background: #64c464;
  border-color: #daf1da;
}
.member .member-presence-status.idle {
  background: #e4e467;
  border-color: #f7f7d4;
}
.member .member-presence-status.disconnected {
  background: #bdbdbd;
  border-color: #ededed;
}
.member .member-presence-status.pending {
  background: #e44242;
  border-color: #f1dada;
}
.member .edit-avatar {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.member .edit-avatar:hover {
  opacity: 0.6;
}
.member .edit-avatar i.fa-pencil {
  color: #fff;
}
.member.add-member {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 2px #bfbfbf inset;
}
.member.add-member:hover,
.member.add-member.is-active {
  box-shadow: 0 0 0 2px #666 inset;
}
.atMention {
  background: #dbdbdb;
  border-radius: 3px;
  padding: 1px 4px;
  margin: -1px 0;
  display: inline-block;
}
.atMention.me {
  background: #cfdfe8;
}
.mini-profile-info {
  margin-top: 10px;
}
.mini-profile-info .info {
  padding-top: 5px;
}
.mini-profile-info .info h3,
.mini-profile-info .info p {
  margin-bottom: 0;
  padding-left: 0;
}
.mini-profile-info .info p {
  padding-top: 0;
}
.mini-profile-info .member {
  width: clamp(40px, 5vw, 60px);
  height: clamp(40px, 5vw, 60px);
  margin-right: 10px;
}
