.auth-container {
  display: grid;
  gap: 1lh;
  align-content: stretch;
  justify-items: center;
  padding: 2lh 0;
  margin: auto;
  grid-template-columns: minmax(auto, 70vw);
  grid-template-rows: 20vh max-content auto;
  min-width: fit-content;
}

.auth-logo {
  flex: 1;
}

.auth-logo a {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 1;

  img {
    aspect-ratio: 1/1;
    display: inline;
    flex: 1;
  }
}

.auth-layout {
  &.at-form-landing-logo, &.auth-logo {
    display: flex;
    justify-content: stretch;
  }
}

.auth-dialog {
  min-width: max-content;
}

.auth-layout .auth-dialog {
  background: #fff;
  border-radius: 0.4vw;
  border: 1px solid #dbdbdb;
  border-bottom-color: #c2c2c2;
  box-shadow: 0 0.2vh 0.8vh rgba(0,0,0,0.3);
  padding: 0 2ch 0.5lh 2ch;
  align-self: stretch;
  white-space: wrap;

  /* try to override properties of non-flex forms
  without referring too much to classes and ids, as forms
  are dynamic */
  &, div:not(#legalNoticeDiv, .lds-roller, .password-input-container, :empty), form {
    display: flex;
    flex-direction: column;
    gap: 0.5lh;
    >:not(.at-input) {
      gap: 0.4lh;
    }
    .at-input {
      gap: 0;
    }
  }

  *:not(div) {
    width: auto;
    margin: 0;
  }
}

.auth-layout .auth-dialog .at-form .at-link {
  color: #17683a;
}

.password-input-container {
  display: grid;
  grid-template-columns: auto max-content;
  grid-auto-flow: column;
}

.auth-layout .auth-dialog .at-form button {
  background: #216694;
  color: #fff;
}
.auth-layout .auth-dialog .at-form .at-title {
  border-bottom: 1px solid #dcdcdc;
  color: #4d4d4d;
  font-weight: bold;
  text-align: center;
}
.auth-layout .auth-dialog .at-form .at-signup-link,
.auth-layout .auth-dialog .at-form .at-signin-link,
.auth-layout .auth-dialog .at-form .at-forgotPwd {
  font-size: 0.9em;
  color: #4d4d4d;
}
.auth-layout .auth-dialog .at-form .at-signup-link .at-signUp,
.auth-layout .auth-dialog .at-form .at-signin-link .at-signUp,
.auth-layout .auth-dialog .at-form .at-forgotPwd .at-signUp,
.auth-layout .auth-dialog .at-form .at-signup-link .at-signIn,
.auth-layout .auth-dialog .at-form .at-signin-link .at-signIn,
.auth-layout .auth-dialog .at-form .at-forgotPwd .at-signIn {
  font-weight: bold;
}