.at-form-landing-logo
  width: 275px
  margin: auto
  margin-top: 50px
  margin-top: 17vh

  img
    width: 275px

.at-form
  margin: auto
  width: 275px
  padding: 25px
  margin-top: 20px
  padding-bottom: 10px
  background: #fff
  border-radius: 3px
  border: 1px solid #dbdbdb
  border-bottom-color: #c2c2c2
  box-shadow: 0 1px 6px rgba(0, 0, 0, .3)

  .at-link
    color: darken(#27AE60, 40%)

  label
    margin-bottom: 3px

  input
    width: 100%

  .at-title
    background: #F7F7F7
    margin: -25px
    padding: 15px 25px 5px
    margin-bottom: 20px
    border-bottom: 1px solid #dcdcdc
    color: darken(white, 70%)
    font-weight: bold

  .at-signup-link,
  .at-signin-link,
  .at-forgotPwd
    font-size: 0.9em
    margin-top: 15px
    color: darken(white, 70%)

    .at-signUp,
    .at-signIn
      font-weight: bold
