.auth-layout
  .at-form-landing-logo
    width: 249px
    margin: auto
    margin-top: 50px
    margin-bottom: 20px

  .auth-dialog
    width: 275px
    padding: 25px
    margin: auto
    margin-bottom: 20px
    background: #fff
    border-radius: 3px
    border: 1px solid #dbdbdb
    border-bottom-color: #c2c2c2
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3)

    .at-form

      .at-link
        color: darken(#27AE60, 40%)

      label
        margin-bottom: 3px

      input
        width: 100%

      button
        width: 100%
        background: #216694
        color: #fff

      .at-title
        background: #F7F7F7
        margin: -25px
        padding: 15px 25px 5px
        margin-bottom: 20px
        border-bottom: 1px solid #dcdcdc
        color: darken(white, 70%)
        font-weight: bold

      .at-signup-link,
      .at-signin-link,
      .at-forgotPwd
        font-size: 0.9em
        margin-top: 15px
        color: darken(white, 70%)

        .at-signUp,
        .at-signIn
          font-weight: bold

    .at-form-lang
      margin-top: 0px

      .select-lang
        width: 100%
        margin-top: 10px

@media screen and (max-width: 800px)
  .auth-layout
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px

    .at-form-landing-logo
      width: 125px
      position: absolute
      top: 0px
      right: 30px
      margin-top: 5px
      margin-bottom: 5px

      img
        width: 125px

    .auth-dialog
      width: calc(100% - 50px)
      height: calc(100% - 50px)
      padding: 25px
      min-height: 380px
      margin: 0px
      margin-bottom: 0px
      border: 0px

