template(name="cardTriggers")
  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a label is
      div.trigger-dropdown
        select
          option Moved to
    div.trigger-button
      i.fa.fa-plus