template(name="cardTriggers")
  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a label is
      div.trigger-dropdown
        select(id="label-action")
          option(value="added") Added to
          option(value="removed") Removed from
      div.trigger-text 
        | a card 
    div.trigger-button.js-add-gen-label-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When the label
      div.trigger-dropdown
        select(id="spec-label")
          each labels
            option(value="#{_id}")
              = name
      div.trigger-text 
        | is
      div.trigger-dropdown
        select(id="spec-label-action")
          option(value="added") Added to
          option(value="removed") Removed from
      div.trigger-text 
        | a card 
    div.trigger-button.js-add-spec-label-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a member is
      div.trigger-dropdown
        select(id="gen-member-action")
          option(value="added") Added to
          option(value="removed") Removed from
      div.trigger-text 
        | a card 
    div.trigger-button.js-add-gen-member-trigger.js-goto-action
      i.fa.fa-plus


  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When the member
      div.trigger-dropdown
        input(id="spec-member",type=text,placeholder="name") 
      div.trigger-text 
        | is
      div.trigger-dropdown
        select(id="spec-member-action")
          option(value="added") Added to
          option(value="removed") Removed from
      div.trigger-text 
        | a card 
    div.trigger-button.js-add-spec-member-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When an attachment
      div.trigger-text 
        | is
      div.trigger-dropdown
        select(id="attach-action")
          option(value="added") Added to
          option(value="removed") Removed from
      div.trigger-text 
        | a card 
    div.trigger-button.js-add-attachment-trigger.js-goto-action
      i.fa.fa-plus