template(name="checklistTriggers")
  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a check is
      div.trigger-dropdown
        select
          option Checked
    div.trigger-button
      i.fa.fa-plus