template(name="checklistTriggers")
  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a checklist is
      div.trigger-dropdown
        select(id="gen-check-action")
          option(value="created") Added to
          option(value="removed") Removed from
      div.trigger-text 
        | a card 
    div.trigger-button.js-add-gen-check-trigger.js-goto-action
      i.fa.fa-plus


  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When the checklist
      div.trigger-dropdown
        input(id="check-name",type=text,placeholder="Name") 
      div.trigger-text 
        | is
      div.trigger-dropdown
        select(id="spec-check-action")
          option(value="created") Added to
          option(value="removed") Removed from
      div.trigger-text 
        | a card 
    div.trigger-button.js-add-spec-check-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a checklist is
      div.trigger-dropdown
        select(id="gen-comp-check-action")
          option(value="completed") Completed
          option(value="uncompleted") Made incomplete
    div.trigger-button.js-add-gen-comp-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When the checklist
      div.trigger-dropdown
        input(id="spec-comp-check-name",type=text,placeholder="Name") 
      div.trigger-text 
        | is
      div.trigger-dropdown
        select(id="spec-comp-check-action")
          option(value="completed") Completed
          option(value="uncompleted") Made incomplete
    div.trigger-button.js-add-spec-comp-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When a checklist item is
      div.trigger-dropdown
        select(id="check-item-gen-action")
          option(value="checked") Checked
          option(value="unchecked") Unchecked
    div.trigger-button.js-add-gen-check-item-trigger.js-goto-action
      i.fa.fa-plus

  div.trigger-item
    div.trigger-content
      div.trigger-text 
        | When the checklist item 
      div.trigger-dropdown
        input(id="check-item-name",type=text,placeholder="Name") 
      div.trigger-text 
        | is
      div.trigger-dropdown
        select(id="check-item-spec-action")
          option(value="checked") Checked
          option(value="unchecked") Unchecked
    div.trigger-button.js-add-spec-check-item-trigger.js-goto-action
      i.fa.fa-plus