template(name='notification')
  li.notification(class="{{#if read}}read{{/if}}")
    .read-status
      .materialCheckBox(class="{{#if read}}is-checked{{/if}}")
      +notificationIcon(activityData)
    .details
      +activity(activity=activityData mode='none')
      .notification-date
        small.quiet {{activityDate}}
    if read
      .remove
        a(title="{{_ 'delete'}}") 🗑️
