belize = #2980b9

section#notifications-drawer
  position: fixed
  top: 48px
  right: 0
  width: 400px
  background-color: #fafafa
  box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  border-radius: 2px
  max-height: calc(100vh - 28px - 36px)
  color: black
  padding-top 36px

  a:hover
    color: belize !important

  .header
    position: fixed
    top 48px
    right 0
    width calc(400px - 32px)
    padding: 8px 16px
    background: #ededed
    border-bottom: 1px solid #dbdbdb
    z-index 2

    .toggle-read
      position absolute
      left 16px
      top calc(50% - 8px)
      color belize

    h5
      text-align: center
      margin: 0

    .close
      position: absolute
      top: calc(50% - 12px)
      right: 12px
      font-size: 24px
      height: 24px
      line-height: 24px
      opacity 1

  .all-read,
  .remove-read
    color belize
    background-color: #fafafa
    margin 8px 16px 12px
    display inline-block

  .remove-read
    float right

    &:hover
      color #eb4646 !important

      i.fa
        color inherit


  ul.notifications
    display: block
    padding: 0px 16px 0px 16px
    margin: 0
    height: calc(100vh - 122px)
    overflow-y: scroll
