#notifications-drawer.show-read .notification.read {
  display: flex;
}
#notifications-drawer .notification {
  display: flex;
  float: none;
  padding: 18px 14px 9px;
  color: #000;
  border-bottom: 1px solid #dbdbdb;
}
#notifications-drawer .notification.read {
  display: none;
}
#notifications-drawer .notification .read-status {
  width: 28px;
  padding: 0 7px 0 0;
}
#notifications-drawer .notification .read-status input {
  width: 42px;
  height: 42px;
}
#notifications-drawer .notification .read-status .activity-type {
  margin: 8px 0 0;
  width: 1.2em;
  height: 1.2em;
  font-size: calc(14px * var(--wekan-ui-font-scale, 1));
  display: block;
  color: #000;
}
#notifications-drawer .notification .read-status .activity-type.hidden {
  display: none;
}
#notifications-drawer .notification .details .activity a.member {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#notifications-drawer .notification .details .activity a.member svg {
  padding: 6px;
}
#notifications-drawer .notification .details .activity .activity-desc {
  margin: 0 0 0 10px;
}
#notifications-drawer .notification .details .activity .activity-comment {
  display: block;
  width: 100%;
  border-radius: 6px;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-top: 6px;
  padding: 6px 10px;
}
#notifications-drawer .notification .details .activity .activity-meta {
  display: block;
  font-size: 0.8em;
  color: #999;
  font-style: italic;
}
#notifications-drawer .notification .details .notification-date {
  margin-top: 4px;
}
#notifications-drawer .notification .details .notification-date small {
  font-size: 0.85em;
  color: #999;
}
#notifications-drawer .notification .remove a:hover {
  color: #eb4646 !important;
}
@media screen and (max-width: 800px) {
  #notifications-drawer .notification {
    height: auto;
  }
  #notifications-drawer .notification .details .activity a.member {
    height: 36px;
    width: 36px;
  }
}
