#notifications
  position: relative

  .notifications-drawer-toggle
    display: block
    line-height: 28px
    color: #f2f2f2
    margin: 0 10px
    width: 28px
    height: 28px
    text-align: center
    border: 0
    padding: 0

    &.alert
      //background-color: #eb4646;
      //background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 8px 8px 8px 8px;

