#notifications-drawer.show-read .notification.read {
  display: flex;
}
#notifications-drawer .notification {
  display: flex;
  float: none;
  padding: 2vh 1vw 1vh;
  color: #000;
  border-bottom: 1px solid #dbdbdb;
}
#notifications-drawer .notification.read {
  display: none;
}
#notifications-drawer .notification .read-status {
  width: 4vw;
  padding: 0 1.3vw 0 0;
}
#notifications-drawer .notification .read-status input {
  width: 3vw;
  height: 3vw;
}
#notifications-drawer .notification .read-status .activity-type {
  margin: 2vh 0 0;
  width: 2.2vw;
  height: 2.2vw;
  font-size: clamp(14px, 2.5vw, 17px);
  display: block;
  color: #bbb;
}
#notifications-drawer .notification .details .activity a.member {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#notifications-drawer .notification .details .activity a.member svg {
  padding: 0.4vw;
}
#notifications-drawer .notification .details .activity .activity-desc {
  margin: 0 0 0 0.7vw;
}
#notifications-drawer .notification .details .activity .activity-comment {
  display: block;
  width: 100%;
  border-radius: 0.4vw;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 0.2vh 0.3vh rgba(0,0,0,0.2);
  margin-top: 0.7vh;
  padding: 0.7vh 0.7vw;
}
#notifications-drawer .notification .details .activity .activity-meta {
  display: block;
  font-size: 0.8em;
  color: #999;
  font-style: italic;
}
#notifications-drawer .notification .remove a:hover {
  color: #eb4646 !important;
}
@media screen and (max-width: 800px) {
  #notifications-drawer .notification {
    height: auto;
  }
  #notifications-drawer .notification .details .activity a.member {
    height: 36px;
    width: 36px;
  }
}
