#notifications
  position: relative

  .notifications-drawer-toggle
    display: block
    line-height: 28px
    color: #f2f2f2
    margin: 0 10px
    width: 28px
    height: 28px
    text-align: center
    border: 0
    padding: 0

    &.alert
      background-color: #eb4646;

