#notifications-drawer
  &.show-read .notification.read
    display: flex

  .notification
    display: flex
    float: none
    padding: 15px 8px 8px
    color: black
    border-bottom: 1px solid #dbdbdb

    &.read
      display: none

    .read-status
      width: 30px
      padding: 0px 10px 0px 0px

      input
        width: 24px
        height: 24px

      .activity-type
        margin: 16px 0 0
        width: 17px
        height: 17px
        font-size: 17px
        display: block
        color: #bbb

    .details
      .activity
        a.member
          margin: 0px 0px 0px 0px
          padding: 0px

          svg
            padding: 3px

        .activity-desc
          margin: 0px 0px 0px 5px

        .activity-comment
          display: block
          width: 100%
          border-radius: 3px
          background: #fff
          text-decoration: none
          box-shadow: 0 1px 2px rgba(0,0,0,0.2)
          margin-top: 5px
          padding: 5px

        .activity-meta
          display: block
          font-size: 0.8em
          color: #999
          font-style: italic

    .remove
      a:hover
        color #eb4646 !important

@media screen and (max-width: 800px)
  #notifications-drawer
    .notification
      height: auto

      .details
        .activity
          a.member
            height: 36px
            width: 36px
