template(name="cardAttachmentsPopup")
  ul.pop-over-list
    li
      input.js-attach-file.hide(type="file" name="file" multiple)
      a.js-computer-upload {{_ 'computer'}}
    li
      a.js-upload-clipboard-image {{_ 'clipboard'}}

template(name="previewClipboardImagePopup")
  p <kbd>Ctrl</kbd>+<kbd>V</kbd> {{_ "paste-or-dragdrop"}}
  img.preview-clipboard-image()
  button.primary.js-upload-pasted-image {{_ 'upload'}}

template(name="previewAttachedImagePopup")
  img.preview-large-image.js-large-image-clicked(src="{{pathFor url}}")

template(name="attachmentDeletePopup")
  p {{_ "attachment-delete-pop"}}
  button.js-confirm.negate.full(type="submit") {{_ 'delete'}}

template(name="attachmentsGalery")
  .attachments-galery
    each attachments
      a.attachment-item.js-open-viewer(title="{{_ 'added'}} {{ moment uploadedAt }}")
        .attachment-thumbnail
          if isUploaded
            if isImage
              img.attachment-thumbnail-img.js-preview-image(src="{{pathFor url}}")
            else
              span.attachment-thumbnail-ext= extension
          else
            +spinner
        p.attachment-details
          = name
          span.attachment-details-actions
            a.js-download(href="{{url download=true}}")
              i.fa.fa-download
              | {{_ 'download'}}
            if currentUser.isBoardMember
              if isImage
                a(class="{{#if $eq ../coverId _id}}js-remove-cover{{else}}js-add-cover{{/if}}")
                  i.fa.fa-thumb-tack
                  if($eq ../coverId _id)
                    | {{_ 'remove-cover'}}
                  else
                    | {{_ 'add-cover'}}
              a.js-confirm-delete
                i.fa.fa-close
                | {{_ 'delete'}}

    if currentUser.isBoardMember
      a.attachment-item.add-attachment.js-add-attachment {{_ 'add-attachment' }}
