template(name="cardAttachmentsPopup")
  ul.pop-over-list
    li
      input.js-attach-file.hide(type="file" name="file" multiple)
      a.js-computer-upload(href="#") {{_ 'computer'}}

template(name="attachmentDeletePopup")
  p {{_ "attachment-delete-pop"}}
  button.js-confirm.negate.full(type="submit") {{_ 'delete'}}

template(name="attachmentsGalery")
  .attachments-galery
    each attachments
      a.attachment-item.js-open-viewer(href="#" title="{{_ 'added'}} {{ moment uploadedAt }}")
        .attachment-thumbnail
          if isUploaded
            if isImage
              img.attachment-thumbnail-img(src="{{pathFor url}}")
            else
              span.attachment-thumbnail-ext= extension
          else
            +spinner
        p.attachment-details
          = name
          span.attachment-details-actions
            a.js-download(href="{{url download=true}}")
              i.fa.fa-download
              | {{_ 'download'}}
            if currentUser.isBoardMember
              if isImage
                a(href="#" class="{{#if $eq ../coverId _id}}js-remove-cover{{else}}js-add-cover{{/if}}")
                  i.fa.fa-thumb-tack
                  if($eq ../coverId _id)
                    | {{_ 'remove-cover'}}
                  else
                    | {{_ 'add-cover'}}
              a.js-confirm-delete(href="#")
                i.fa.fa-close
                | {{_ 'delete'}}

    if currentUser.isBoardMember
      a.attachment-item.add-attachment.js-add-attachment(href="#") {{_ 'add-attachment' }}
