@import 'nib'

.attachments-galery
  display: flex
  flex-wrap: wrap

  .attachment-item
    width: 33.33% - 2%
    margin: 0 2% 0 0
    text-align: center
    border-radius: 3px
    overflow: hidden
    background: darken(white, 7%)
    min-height: 30px

    &:hover
      background: darken(white, 12%)

    &.add-attachment
      display: flex
      align-items: center

      a
        display: block
        margin: auto

    .attachment-thumbnail
      height: 80px
      display: flex
      align-items: center
      justify-content: center
      position: relative

      .attachment-thumbnail-img
        max-height: 100%
        max-width: 100%

      .attachment-thumbnail-ext
        text-transform: uppercase
        font-size: 1.6em

    .attachment-details
      font-size: 0.75em
      margin: 3px

      .attachment-details-actions a
        display: block

.attachment-image-preview
  max-width: 100px
  display: block
  box-shadow: 0 1px 2px rgba(0,0,0,.2)

.preview-large-image
  max-width: 1000px
  display: block
  box-shadow: 0 1px 2px rgba(0,0,0,.2)

.preview-clipboard-image
  width: 280px
  max-width: 100%;
  height: 200px
  display: block
  border: 1px solid black
  box-shadow: 0 1px 2px rgba(0,0,0,.2)

@media screen and (max-width: 800px)
  .attachments-galery
    flex-direction
      row
    .attachment-item
      width: 50% - 2%

      .attachment-thumbnail
        height: 130px
      .attachment-details
        font-size: 1.1em

@media screen and (max-width: 360px)
  .attachments-galery
    .attachment-item
      width: 100%

      .attachment-thumbnail
        height: 200px
