.slide {
  /* swipebox slide background gradient of black to blue, so that back SVG images are visible */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%);
}
.attachment-upload {
  text-align: center;
  font-weight: bold;
}
.attachment-gallery {
  display: flex;
  flex-direction: column;
}
.attachment-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}
.attachment-item:hover {
  background: #e0e0e0;
}
.attachment-thumbnail-container {
  display: block;
  width: 150px;
  min-width: 150px;
  max-height: 150px;
  padding-right: 16px;

}
.attachment-thumbnail {
  max-width: 150px;
  max-height: 150px;
  min-height: 2em;
  cursor: pointer;
}
.attachment-thumbnail-text {
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.attachment-details-container {
  display: block;
  flex-grow: 1;
}
.attachment-details {
  display: flex;
  justify-content: space-between;
  margin-right: 25px; /* Make sure the icons are not to far to the right */
}
.attachment-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-attachment {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #555;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 16px;
}
.icon {
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 10px;
}
.icon:hover {
  color: #666;
}
#viewer-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 48px;  /* height of the navbar */
  left: 0;
  z-index: 9999 !important;
  background: rgba(13,13,13,0.9);
}
#viewer-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#viewer-close {
  color:white;
  cursor: pointer;
  font-size: 4em;
  top: 0;
  right: 16px;
  position: absolute;
  padding: 20 20;
}
#viewer-container {
  text-align: center;
}
#pdf-viewer {
  width: 40vw;
  height: 100vh;
}
.pdf-preview-error {
  margin-top: 20vh;
  display: block;
  font-size: 2em;
  color: white;
}

@media screen and (max-width: 1600px) {
  #pdf-viewer {
    width: 60vw;
  }
}

@media screen and (max-width: 800px) {
  #pdf-viewer {
    width: 100vh;
  }
  .attachment-thumbnail-container {
    width: 100px;
    min-width: 100px;
  }
  .attachment-thumbnail {
    max-width: 100px;
  }
  .attachment-details {
    flex-direction: column;
    margin-right: 0px;
  }
  .attachment-actions {
    flex-direction: row;
    margin-top: 10px;
  }
}
