.new-description {
  flex: 1;
}
.new-description textarea {
  min-height: 1lh;
  color: #4d4d4d;
  cursor: auto;
  overflow: hidden;
  overflow-wrap: break-word;
}
.new-description .too-long {
  margin-top: 8px;
}
.new-description textarea {
  background-color: #fff;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.23);
  width: 100%;
}
.new-description textarea:hover,
.new-description textarea:is-open {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.33);
  border: 0;
  cursor: pointer;
}
.new-description textarea:is-open {
  cursor: auto;
}
.description-item {
  background-color: #fff;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.23);
  color: #8c8c8c;
}
.description-item:hover {
  background: #e0e0e0;
}
.description-item.add-description {
  display: flex;
}
.description-item.add-description a {
  display: block;
  margin: auto;
}
