template(name="cardCustomFieldsPopup")
    ul.pop-over-list
        each board.customFields
            li.item(class="")
                a.name.js-select-field(href="#")
                    span.full-name
                        = name
                    if hasCustomField
                        i.fa.fa-check
    hr
    a.quiet-button.full.js-configure-custom-fields
        i.fa.fa-cog
        span {{_ 'configure-custom-fields'}}

template(name="cardCustomFieldText")
    if canModifyCard
        +inlinedForm(classNames="js-card-customfield-text")
            +editor(autofocus=true)
                = value
            .edit-controls.clearfix
                button.primary(type="submit") {{_ 'save'}}
                a.fa.fa-times-thin.js-close-inlined-form
        else
            a.js-open-inlined-form
                if value
                    +viewer
                        = value
                else
                    | {{_ 'edit'}}