
template(name="descriptionForm")
  .new-description.js-new-description(
    class="{{#if descriptionFormIsOpen}}is-open{{/if}}")
    form.js-new-description-form
      +editor(class="js-new-description-input" autofocus="autofocus")
        | {{getUnsavedValue 'cardDescription' _id getDescription}}
