.edit-card-date
  .fields
    .left
      width: 56%

.card-estimate
  display: block
  border-radius: 4px
  padding: 1px 3px
  
  background-color: #dbdbdb
  &:hover, &.is-active
    background-color: #b3b3b3