.card-date
  display: block
  border-radius: 4px
  padding: 1px 3px
  
  background-color: #dbdbdb
  &:hover, &.is-active
    background-color: #b3b3b3
  
  &.current, &.almost-due, &.due, &.long-overdue
    color: #fff

  &.current
    background-color: #5ba639
    &:hover, &.is-active
      background-color: darken(#5ba639, 10)
  
  &.almost-due
    background-color: #edc909
    &:hover, &.is-active
      background-color: darken(#edc909, 10)
  
  &.due
    background-color: #fa3f00
    &:hover, &.is-active
      background-color: darken(#fa3f00, 10)
  
  &.long-overdue
    background-color: #fd5d47
    &:hover, &.is-active
      background-color: darken(#fd5d47, 7)

  &.end-date
    time
      &::before
        content: "\f253"  // symbol: fa-hourglass-end

  &.due-date
    time
      &::before
        content: "\f090"  // symbol: fa-sign-in

  &.start-date
    time
      &::before
        content: "\f251"  // symbol: fa-hourglass-start

  &.received-date
    time
      &::before
        content: "\f08b"  // symbol: fa-sign-out

  time
    &::before
      font: normal normal normal 14px/1 FontAwesome
      font-size: inherit
      -webkit-font-smoothing: antialiased
      margin-right: 0.3em

