template(name="editCardDate")
  .edit-card-date
    form.edit-date
      .fields
        .left
          label(for="date") {{_ 'date'}}
          input.js-date-field#date(type="text" name="date" value=showDate placeholder=dateFormat autofocus)
        .right
          label(for="time") {{_ 'time'}}
          input.js-time-field#time(type="text" name="time" value=showTime placeholder=timeFormat)
      .js-datepicker
      if error.get
        .warning {{_ error.get}}
      button.primary.wide.left.js-submit-date(type="submit") {{_ 'save'}}
      button.js-delete-date.negate.wide.right.js-delete-date {{_ 'delete'}}

template(name="dateBadge")
  a.js-edit-date.card-date(title="{{showTitle}}" class="{{classes}}")
    time(datetime="{{showISODate}}")
      | {{showDate}}
