template(name="editCardSpentTime")
  .edit-card-time
    form.edit-time
      .fields
        label(for="time") {{_ 'time'}}
        input.js-time-field#time(type="number" step="0.01" name="time" value="{{card.getSpentTime}}" placeholder=timeFormat autofocus)
        label(for="overtime") {{_ 'overtime'}}
        a.js-toggle-overtime
          .materialCheckBox#overtime(class="{{#if getIsOvertime}}is-checked{{/if}}" name="overtime")

      if error.get
        .warning {{_ error.get}}
      button.primary.wide.left.js-submit-time(type="submit") {{_ 'save'}}
      button.js-delete-time.negate.wide.right {{_ 'delete'}}

template(name="timeBadge")
  if canModifyCard
    a.js-edit-time.card-time(title="{{showTitle}}" class="{{#if getIsOvertime}}card-label-red{{else}}card-label-green{{/if}}")
      | {{showTime}}
  else
    a.card-time(title="{{showTitle}}" class="{{#if getIsOvertime}}card-label-red{{else}}card-label-green{{/if}}")
      | {{showTime}}
