@import 'nib'

// Assignee, code copied from wekan/client/users/userAvatar.styl

avatar-radius = 50%

#cardURL_copy
  // Have clipboard text not visible by moving it to far left
  position: absolute
  left: -2000px
  top: 0px

#clipboard
  white-space: normal

.assignee
  border-radius: 3px
  display: block
  position: relative
  float: left
  height: 30px
  width: @height
  margin: 0 4px 4px 0
  cursor: pointer
  user-select: none
  z-index: 1
  text-decoration: none
  border-radius: avatar-radius

  .avatar
    overflow: hidden
    border-radius: avatar-radius

    &.avatar-assignee-initials
      height: 70%
      width: @height
      padding: 15%
      background-color: #dbdbdb
      color: #444444
      position: absolute

    &.avatar-image
      object-fit: cover;
      object-position: center;
      height: 100%
      width: @height

  .assignee-presence-status
    background-color: #b3b3b3
    border: 1px solid #fff
    border-radius: 50%
    height: 7px
    width: @height
    position: absolute
    right: -1px
    bottom: -1px
    border: 1px solid white
    z-index: 15

    &.active
      background: #64c464
      border-color: #daf1da

    &.idle
      background: #e4e467
      border-color: #f7f7d4

    &.disconnected
      background: #bdbdbd
      border-color: #ededed

    &.pending
      background: #e44242
      border-color: #f1dada



  &.add-assignee
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0 0 0 2px darken(white, 25%) inset

    &:hover, &.is-active
      box-shadow: 0 0 0 2px darken(white, 60%) inset

// Other card details

.card-details
  padding: 0
  flex-shrink: 0
  flex-basis: 510px
  will-change: flex-basis
  overflow-y: scroll
  overflow-x: hidden
  background: darken(white, 3%)
  border-radius: bottom 3px
  z-index: 20 !important
  animation: flexGrowIn 0.1s
  box-shadow: 0 0 7px 0 darken(white, 30%)
  transition: flex-basis 0.1s
  box-sizing: border-box

  .mCustomScrollBox
    padding-left: 0

  .ps-scrollbar-y-rail
    pointer-event: all
    position: absolute

  .card-details-canvas
    width: 470px
    padding-left: 20px

  .card-details-header
    margin: 0 -20px 5px
    padding 7px 16px
    background: darken(white, 7%)
    border-bottom: 1px solid darken(white, 14%)

    .close-card-details,
    .card-details-menu,
    .card-copy-button,
    .card-copy-mobile-button,
    .close-card-details-mobile-web,
    .card-details-menu-mobile-web
      float: right

    .close-card-details
      font-size: 24px
      padding: 5px
      margin-right: -8px

    .close-card-details-mobile-web
      font-size: 24px
      padding: 5px
      margin-right: 40px

    .card-copy-button
      font-size: 17px
      padding: 10px
      margin-right: 10px

    .card-copy-mobile-button
      font-size: 17px
      padding: 10px
      margin-right: 10px

    .card-details-menu
      font-size: 17px
      padding: 10px

    .card-details-menu-mobile-web
      font-size: 17px
      padding: 10px
      margin-right: 30px

    .card-details-watch
      font-size: 17px
      padding-left: 7px
      color: #a6a6a6

    .card-details-title
      font-weight: bold
      font-size: 1.33em
      margin: 7px 0 0
      padding: 0

    .linked-card-location
      font-style: italic
      font-size: 1em
      margin-bottom: 0
      & p
        margin-bottom: 0

    form.inlined-form
      margin-top: 5px
      margin-bottom: 10px

    .card-details-list
      font-size: 0.85em
      margin-bottom: 3px

      a.card-details-list-title
        font-weight: bold

        &.is-editable
          display: inline-block
          background: darken(white, 10%)
          border-radius: 3px
          padding: 0px 5px

  .card-description textarea
    min-height: 100px

  .card-details-items
    display: flex
    flex-wrap: wrap
    margin: 15px 0

    .card-details-item
      margin-right: 0.5em
      &:last-child
        margin-right: 0
      &.card-details-item-labels,
      &.card-details-item-members,
      &.card-details-item-assignees,
      &.card-details-item-received,
      &.card-details-item-start,
      &.card-details-item-due,
      &.card-details-item-end,
      &.card-details-item-customfield,
      &.card-details-item-name
        display: block
        word-wrap: break-word
        max-width: 48%
        flex-grow: 1

  .card-details-item-title
    font-size: 16px
    color: #000

  .card-label
    padding-top: 5px
    padding-bottom: 5px

  .activities
    padding-top: 10px

input[type="text"].attachment-add-link-input
  float: left
  margin: 0 0 8px
  width: 80%

input[type="submit"].attachment-add-link-submit
  float: left
  margin: 0 0 8px 4px
  padding: 6px 12px
  width: 18%

@media screen and (max-width: 800px)
  .card-details
    width: calc(100% - 1px)
    padding: 0px 20px 0px 20px
    margin: 0px
    transition: none

    .card-details-canvas
      width: 100%
      padding-left: 0px

    .card-details-header
      .close-card-details
        margin-right: 0px

      .card-details-menu
        margin-right: 10px

card-details-color(background, color...)
  background: background !important
  if color
    color: color !important //overwrite text for better visibility

.card-details-white
  card-details-color(unset, #000) //Black text for better visibility
  border: 1px solid #eee

.card-details-green
  card-details-color(#3cb500, #ffffff) //White text for better visibility

.card-details-yellow
  card-details-color(#fad900, #000) //Black text for better visibility

.card-details-orange
  card-details-color(#ff9f19, #000) //Black text for better visibility

.card-details-red
  card-details-color(#eb4646, #ffffff) //White text for better visibility

.card-details-purple
  card-details-color(#a632db, #ffffff) //White text for better visibility

.card-details-blue
  card-details-color(#0079bf, #ffffff) //White text for better visibility

.card-details-pink
  card-details-color(#ff78cb, #000) //Black text for better visibility

.card-details-sky
  card-details-color(#00c2e0, #ffffff) //White text for better visibility

.card-details-black
  card-details-color(#4d4d4d, #ffffff) //White text for better visibility

.card-details-lime
  card-details-color(#51e898, #000) //Black text for better visibility

.card-details-silver
  card-details-color(#c0c0c0, #000) //Black text for better visibility

.card-details-peachpuff
  card-details-color(#ffdab9, #000) //Black text for better visibility

.card-details-crimson
  card-details-color(#dc143c, #ffffff) //White text for better visibility

.card-details-plum
  card-details-color(#dda0dd, #000) //Black text for better visibility

.card-details-darkgreen
  card-details-color(#006400, #ffffff) //White text for better visibility

.card-details-slateblue
  card-details-color(#6a5acd, #ffffff) //White text for better visibility

.card-details-magenta
  card-details-color(#ff00ff, #ffffff) //White text for better visibility

.card-details-gold
  card-details-color(#ffd700, #000) //Black text for better visibility

.card-details-navy
  card-details-color(#000080, #ffffff) //White text for better visibility

.card-details-gray
  card-details-color(#808080, #ffffff) //White text for better visibility

.card-details-saddlebrown
  card-details-color(#8b4513, #ffffff) //White text for better visibility

.card-details-paleturquoise
  card-details-color(#afeeee, #000) //Black text for better visibility

.card-details-mistyrose
  card-details-color(#ffe4e1, #000) //Black text for better visibility

.card-details-indigo
  card-details-color(#4b0082, #ffffff) //White text for better visibility

.voted
  opacity: .7
.vote-title
  display: flex
  justify-content: space-between

  .js-edit-date
    align-self: baseline
    margin-left: 5px

.vote-result
  display: flex
.js-show-positive-votes
  cursor: pointer
