.js-add-checklist
  color: #8c8c8c

textarea.js-add-checklist-item, textarea.js-edit-checklist-item
  overflow: hidden
  word-wrap: break-word
  resize: none
  height: 34px

.delete-text
  color: #8c8c8c
  text-decoration: underline
  word-wrap: break-word
  float: right
  padding-top: 6px
  &:hover
    color: inherit

.checklist-title
  .checkbox
    float: left
    width: 30px
    height 30px
    font-size: 18px
    line-height: 30px

  .title
    font-size: 18px
    line-height: 25px

  .checklist-stat
    margin: 0 0.5em
    float: right
    padding-top: 6px
    &.is-finished
      color: #3cb500

  .js-delete-checklist
    @extends .delete-text


.js-confirm-checklist-delete
  background-color: darken(white, 3%)
  position: absolute
  float: left;
  width: 60%
  margin-top: 0
  margin-left: 13%
  padding-bottom: 2%
  padding-left: 3%
  padding-right: 3%
  z-index: 17
  border-radius: 3px

  p
    position: relative
    margin-top: 3%
    width: 100%
    text-align: center
    span
      font-weight: bold

    i
      font-size: 2em

  .js-checklist-delete-buttons
    position: relative
    padding: left 2% right 2%
    .confirm-checklist-delete
      margin-left: 12%
      float: left
    .toggle-delete-checklist-dialog
      margin-right: 12%
      float: right

#card-details-overlay
  top: 0
  bottom: -600px
  right: 0

.checklist
  background: darken(white, 3%)

  &.placeholder
    background: darken(white, 20%)
    border-radius: 2px

  &.ui-sortable-helper
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3),
                0 0 1px rgba(0, 0, 0, .5)
    transform: rotate(4deg)
    cursor: grabbing


.checklist-item
  margin: 0 0 0 0.1em
  line-height: 18px
  font-size: 1.1em
  margin-top: 3px
  display: flex
  background: darken(white, 3%)

  &.placeholder
    background: darken(white, 20%)
    border-radius: 2px

  &.ui-sortable-helper
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3),
                0 0 1px rgba(0, 0, 0, .5)
    transform: rotate(4deg)
    cursor: grabbing

  &:hover
    background-color: darken(white, 8%)

  .check-box
    margin: 0.1em 0 0 0;
    &.is-checked
      border-bottom: 2px solid #3cb500
      border-right: 2px solid #3cb500

  .item-title
    flex: 1
    padding-left: 10px;
    &.is-checked
      color: #8c8c8c
      font-style: italic
    & .viewer
      p
        margin-bottom: 2px

.js-delete-checklist-item
  margin: 0 0 0.5em 1.33em
  @extends .delete-text
  padding: 12px 0 0 0

.add-checklist-item
  margin: 0.2em 0 0.5em 1.33em
  display: inline-block
