.js-add-checklist
  color: #8c8c8c

textarea.js-add-checklist-item, textarea.js-edit-checklist-item
  overflow: hidden
  word-wrap: break-word
  resize: none
  height: 34px

.delete-text
  color: #8c8c8c
  text-decoration: underline
  word-wrap: break-word
  float: right
  padding-top: 6px
  &:hover
    color: inherit

.checklists-title
  display: flex
  justify-content: space-between

.checklist-progress-bar-container
  display: flex
  flex-direction: row
  align-items: center

  .checklist-progress-text
    margin-right: 10px

  .checklist-progress-bar
    width: 80%
    height: 10px

    .checklist-progress
      color: #fff !important
      background-color: #2196F3 !important
      padding: 0.01em 16px
      border-radius: 16px
      height: 100%

.checklist-title
  .checkbox
    float: left
    width: 30px
    height 30px
    font-size: 18px
    line-height: 30px

  .title
    font-size: 18px
    line-height: 25px

  .checklist-stat
    margin: 0 0.5em
    float: right
    padding-top: 6px
    &.is-finished
      color: #3cb500

  span.fa.checklist-handle
    padding-right: 20px
    padding-top: 3px
    float: left

#card-details-overlay
  top: 0
  bottom: -600px
  right: 0

.checklist
  background: darken(white, 3%)

  &.placeholder
    background: darken(white, 20%)
    border-radius: 2px

  &.ui-sortable-helper
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3),
                0 0 1px rgba(0, 0, 0, .5)
    transform: rotate(4deg)
    cursor: grabbing


.checklist-item
  margin: 0 0 0 0.1em
  line-height: 18px
  font-size: 1.1em
  margin-top: 3px
  display: flex
  background: darken(white, 3%)
  opacity: 1
  transition: height 0ms 400ms, opacity 400ms 0ms
  height: auto
  overflow: hidden

  &.is-checked.invisible
    opacity: 0
    height: 0
    transition: height 0ms 0ms, opacity 600ms 0ms
    margin-top: 0
    margin-bottom: 0

  &.placeholder
    background: darken(white, 20%)
    border-radius: 2px

  &.ui-sortable-helper
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3),
                0 0 1px rgba(0, 0, 0, .5)
    transform: rotate(4deg)
    cursor: grabbing

  &:hover
    background-color: darken(white, 8%)

  .check-box-container
    padding-right: 10px;

  .check-box
    margin: 0.1em 0 0 0;
    &.is-checked
      border-bottom: 2px solid #3cb500
      border-right: 2px solid #3cb500

  .item-title
    flex: 1
    &.is-checked
      color: #8c8c8c
      font-style: italic
      text-decoration: line-through
    & .viewer
      p
        margin-bottom: 2px
        display: block
        word-wrap: break-word
        max-width: 420px

  span.fa.checklistitem-handle
    padding-top: 2px
    padding-right: 10px;

.js-delete-checklist-item,
.js-convert-checklist-item-to-card
  margin: 0 0 0.5em 1.33em
  @extends .delete-text
  padding: 12px 0 0 0

.add-checklist-item
  margin: 0.2em 0 0.5em 1.33em

.add-checklist-item,.add-checklist
  &.js-open-inlined-form
    display: block
    width: 50%

    &:hover
      background: #dbdbdb
      color: #222
      box-shadow: 0 1px 2px rgba(0,0,0,.2)

.checklist-details-menu
  float: right
  padding: 6px 10px 6px 10px

.edit-controls
  label.toggle-label
    margin-left: 2px
