.js-add-checklist {
  color: #8c8c8c;
}
textarea.js-add-checklist-item,
textarea.js-edit-checklist-item {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 34px;
}
.delete-text,
.js-delete-checklist-item,
.js-convert-checklist-item-to-card {
  color: #8c8c8c;
  text-decoration: underline;
  overflow-wrap: break-word;
  float: right;
  padding-top: 6px;
}
.delete-text:hover,
.js-delete-checklist-item:hover,
.js-convert-checklist-item-to-card:hover {
  color: inherit;
}
.checklists-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checklist-progress-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checklist-progress-bar-container .checklist-progress-text {
  margin-right: 10px;
}
.checklist-progress-bar-container .checklist-progress-bar {
  flex: 1;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 16px;
}
.checklist-progress-bar-container .checklist-progress-bar .checklist-progress {
  color: #fff;
  background-color: #666;
  padding: 0.01em 16px;
  border-radius: 16px;
  height: 100%;
}

.checklist-controls {
  display: flex;
  gap: 0.25lh;
}

.checklist-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checklist-title .checkbox {
  float: left;
  width: 30px;
  height: 30px;

  line-height: 30px;
}
.checklist-title p, .title {
  font-size: 1em;
  line-height: 1;
  margin: 0;
}
.checklist-title .checklist-stat {
  margin: 0 0.5em;
  float: right;
  padding-top: 6px;
}
.checklist-title .checklist-stat.is-finished {
  color: #3cb500;
}
.checklist-title span.fa.checklist-handle {
  padding-right: 20px;
  padding-top: 3px;
  float: left;
}
#card-details-overlay {
  top: 0;
  bottom: -600px;
  right: 0;
}

.checklist {
  padding: 0.5lh;
  margin: 0.5lh 0;
  background-color: #f7f7f7;
}


.checklist.placeholder {
  background: #ccc;
  border-radius: 2px;
}
.checklist.ui-sortable-helper {
  box-shadow: -2px 2px 8px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.5);
  cursor: grabbing;
}
.checklist-item {
  display: flex;
  gap: 0.25lh;
  opacity: 1;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  overflow: hidden;
  align-items: center;
  min-height: 1.5lh;
  padding: 0 1ch;
}
.checklist-item.is-checked.invisible {
  opacity: 0;
  height: 0;
  transition: height 0ms 0ms, opacity 600ms 0ms;
  margin-top: 0;
  margin-bottom: 0;
}
.checklist-item.placeholder {
  background: #ccc;
  border-radius: 2px;
}
.checklist-item:hover {
  background-color: #ebebeb;
}
.checklist-item .check-box {
  margin: 0.1em 0 0 0;
}
.checklist-item .check-box.is-checked {
  border-bottom: 0.2ch solid #3cb500;
  border-right: 0.2ch solid #3cb500;
}
.checklist-item .item-title {
  display: flex;
  justify-content: start;
  flex: 1;
  cursor: grab;
}
.checklist-item .item-title.is-checked {
  color: #8c8c8c;
  font-style: italic;
  text-decoration: line-through;
}
.checklist-item .item-title .viewer p {
  display: flex;
  overflow-wrap: break-word;
  max-width: 420px;
}
.js-delete-checklist-item,
.js-convert-checklist-item-to-card {
  margin: 0 0 0.5em 1.33em;
  padding: 12px 0 0 0;
}
.add-checklist-item.js-open-inlined-form,
.add-checklist.js-open-inlined-form {
  display: inline-block;
}
.add-checklist-item.js-open-inlined-form:hover,
.add-checklist.js-open-inlined-form:hover {
  background: #dbdbdb;
  color: #222;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.add-checklist-top.js-open-inlined-form:hover {
  background: #dbdbdb;
  color: #222;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.edit-controls label.toggle-label {
  margin-left: 2px;
}
