@import 'nib'

.card-sidebar.sidebar
  width: 496px
  top: -46px

  .card-detail.sidebar-content
    padding: 0 20px
    z-index: 20 !important
    // XXX Animate apparition

    .card-detail-header
      margin: 0 -20px 5px
      padding 7px 20px 0
      background: #F7F7F7
      border-bottom: 1px solid darken(white, 10%)
      min-height: 38px

      i.fa
        float: right
        font-size: 1.3em
        color: darken(white, 35%)
        margin-top: 7px

      .card-detail-title
        font-weight: bold
        font-size: 1.7em
        margin: 3px 0 0
        padding: 0

    .card-detail-list
      font-size: 0.85em
      margin-bottom: 3px

      a.card-detail-list-title
        font-weight: bold

        &.is-editable
          display: inline-block
          background: darken(white, 10%)
          border-radius: 3px
          padding: 0px 5px

.new-comment
  position: relative
  margin: 0 0 20px 38px

  .member
    opacity: .7
    position: absolute
    top: 1px
    left: -38px

  .helper
    bottom: 0
    display: none
    position: absolute
    right: 9px

  &.focus

    .member
      opacity: 1

    .helper
      display: inline-block

    .new-comment-input
      min-height: 108px
      color: #4d4d4d
      cursor: auto
      overflow: hidden
      word-wrap: break-word

  .too-long
    margin-top: 8px

.new-comment-input
  background-color: #fff
  border: 0
  box-shadow: 0 1px 2px rgba(0, 0, 0, .23)
  color: #8c8c8c
  height: 36px
  margin: 4px 4px 6px 0
  padding: 9px 11px
  width: 100%

  &:hover,
  &:focus
    background-color: #fff
    box-shadow: 0 1px 3px rgba(0, 0, 0, .33)
    border: 0
    cursor: pointer

  &:focus
    cursor: auto

.list-voters.compact .voter
  position: relative
  min-height: 36px

  .member
    left: 0
    position: absolute
    top: 0

  .title
    display: block
    line-height: 30px
    left: 0
    overflow: hidden
    padding-left: 38px
    position: absolute
    text-overflow: ellipsis
    top: 0
    white-space: nowrap
    width: 230px

.list-voters .title
  display: none

.card-composer
  padding-bottom: 8px

.cc-controls
  margin-top: 1px

  input[type="submit"]
    float: left
    margin-top: 0
    padding: 5px 18px

  .icon-lg
    float: left

  .cc-opt
    float: right

.minicard-placeholder,
.minicard.placeholder
  background: silver
  border: none
  min-height: 18px

  .hook
    height: 18px
    position: absolute
    right: 0
    top: 0
    width: 18px

input[type="text"].attachment-add-link-input
  float: left
  margin: 0 0 8px
  width: 80%

input[type="submit"].attachment-add-link-submit
  float: left
  margin: 0 0 8px 4px
  padding: 6px 12px
  width: 18%
