@import 'nib'

.card-details
  padding: 0 20px
  height: 100%
  flex-shrink: 0
  flex-basis: 470px
  will-change: flex-basis
  overflow: hidden
  background: white
  border-radius: 3px
  z-index: 20 !important
  animation: flexGrowIn 0.2s
  box-shadow: 0 0 7px 0 darken(white, 30%)
  transition: flex-basis 0.2s, padding 0.2s
  margin-top: -9px

  .card-details-canvas
    width: 470px

  .card-details-header
    margin: 0 -20px 5px
    padding 7px 20px 0
    background: #F7F7F7
    border-bottom: 1px solid darken(white, 10%)
    min-height: 38px
    position: relative

    .close-card-details
      float: left
      font-size: 24px
      padding: 8px
      padding-right: 11px
      margin-left: -18px

    .card-details-menu
      float: right
      position: absolute
      bottom: 6px
      right: 15px

    .card-details-title
      font-weight: bold
      font-size: 1.33em
      margin: 3px 0
      padding: 0

    .card-details-list
      font-size: 0.85em
      margin-bottom: 3px

      a.card-details-list-title
        font-weight: bold

        &.is-editable
          display: inline-block
          background: darken(white, 10%)
          border-radius: 3px
          padding: 0px 5px

  .card-details-items
    display: flex
    margin: 15px 0

    .card-details-item
      flex-grow: 1

  h3
    font-size: 14px
    color: darken(white, 45%)

.new-comment
  position: relative
  margin: 0 0 20px 38px

  .member
    opacity: .7
    position: absolute
    top: 1px
    left: -38px

  .helper
    bottom: 0
    display: none
    position: absolute
    right: 9px

  &.focus

    .member
      opacity: 1

    .helper
      display: inline-block

    .new-comment-input
      min-height: 108px
      color: #4d4d4d
      cursor: auto
      overflow: hidden
      word-wrap: break-word

  .too-long
    margin-top: 8px

.new-comment-input
  background-color: #fff
  border: 0
  box-shadow: 0 1px 2px rgba(0, 0, 0, .23)
  color: #8c8c8c
  height: 36px
  margin: 4px 4px 6px 0
  padding: 9px 11px
  width: 100%

  &:hover,
  &:focus
    background-color: #fff
    box-shadow: 0 1px 3px rgba(0, 0, 0, .33)
    border: 0
    cursor: pointer

  &:focus
    cursor: auto

.card-composer
  padding-bottom: 8px

input[type="text"].attachment-add-link-input
  float: left
  margin: 0 0 8px
  width: 80%

input[type="submit"].attachment-add-link-submit
  float: left
  margin: 0 0 8px 4px
  padding: 6px 12px
  width: 18%
