.card-label {
  border-radius: 0.4ch;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 0.9em;
  display: flex;
  /* prefer not using padding/margin but let outer grids
  position/size labels (see e.g. minicards), otherwise we get
  inconsistencies */
  align-self: stretch;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5ch;
  height: 1.5lh;
}
.card-label:hover {
  color: #fff;
}
.card-label.square {
  height: 30px;
  width: 30px;
  padding: 0;
}
.card-label.add-label {
  box-shadow: 0 0 0 2px #bfbfbf inset;
  border: initial;
}
.card-label.add-label:hover,
.card-label.add-label.is-active {
  box-shadow: 0 0 0 2px #666 inset;
}
.card-label p {
  margin: 0px;
  --overflow-lines: 1;
}
.palette-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* left-align color chips in wider popovers */
}
.palette-colors .palette-color {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-label-white {
  background-color: #fff;
  color: #000;
}
.card-label-white:hover {
  color: #aaa;
}
.card-label-green {
  background-color: #3cb500;
}
.card-label-green:hover {
  color: #000;
}
.card-label-yellow {
  background-color: #fad900;
  color: #000;
}
.card-label-orange {
  background-color: #ff9f19;
  color: #000;
}
.card-label-red {
  background-color: #eb4646;
}
.card-label-purple {
  background-color: #a632db;
}
.card-label-blue {
  background-color: #0079bf;
}
.card-label-pink {
  background-color: #ff78cb;
  color: #000;
}
.card-label-sky {
  background-color: #00c2e0;
}
.card-label-black {
  background-color: #4d4d4d;
}
.card-label-lime {
  background-color: #51e898;
  color: #000;
}
.card-label-silver {
  background-color: #c0c0c0;
  color: #000;
}
.card-label-peachpuff {
  background-color: #ffdab9;
  color: #000;
}
.card-label-crimson {
  background-color: #dc143c;
}
.card-label-plum {
  background-color: #dda0dd;
  color: #000;
}
.card-label-darkgreen {
  background-color: #006400;
}
.card-label-slateblue {
  background-color: #6a5acd;
}
.card-label-magenta {
  background-color: #f0f;
}
.card-label-gold {
  background-color: #ffd700;
  color: #000;
}
.card-label-navy {
  background-color: #000080;
}
.card-label-gray {
  background-color: #808080;
}
.card-label-saddlebrown {
  background-color: #8b4513;
}
.card-label-paleturquoise {
  background-color: #afeeee;
  color: #000;
}
.card-label-mistyrose {
  background-color: #ffe4e1;
  color: #000;
}
.card-label-indigo {
  background-color: #4b0082;
}
.edit-labels-pop-over {
  display: grid;
  /* so that inner elements, align nicely */
  grid-template-columns: 1fr;
  gap: 0.1lh;
  >li {
    display: flex;
    flex-direction: row-reverse;
    gap: 1ch;
    align-items: center;
  }
  .card-label-selectable {
    flex: 1;
    display: flex;
    gap: 1ch;
  }
}
.edit-labels-pop-over .card-label .viewer p {
  margin: 0;
}
.edit-labels-pop-over .shortcut {
  display: inline-block;
}
.card-label-selectable.selected,
.card-label-selectable:hover {
  opacity: 0.8;
}
.active .card-label-selectable,
.active .card-label-selectable:hover {
  margin-right: 0;
}
.card-label-edit-button:hover {
  background: #dbdbdb;
}