template(name="formLabel")
  .colors
  label(for="labelName") {{_ 'name'}}
  input.js-label-name#labelName(type="text" name="name" value=name autofocus)

  label {{_ "select-color"}}
  each labels
    span.card-label.card-label--selectable.palette-color.js-palette-color(class="card-label-{{color}}")
      if($eq color ../color)
        i.fa.fa-check

template(name="createLabelPopup")
  form.create-label
    with(color=defaultColor)
      +formLabel
    button.primary.wide(type="submit") {{_ 'create'}}

template(name="editLabelPopup")
  form.edit-label
    +formLabel
    button.primary.wide.left(type="submit") {{_ 'save'}}
    span.right


template(name="deleteLabelPopup")
  p {{_ "label-delete-pop"}}
  button.js-confirm.negate.full(type="submit") {{_ 'delete'}}
