template(name="minicard")
  .minicard
    if cover
      .minicard-cover(style="background-image: url('{{cover.url}}');")
    if labels
      .minicard-labels
        each labels
          .minicard-label(class="card-label-{{color}}" title="{{name}}")
    .minicard-title
      +viewer
        = title
    .dates
      if startAt
        .date
          +minicardStartDate
      if dueAt
        .date
          +minicardDueDate
      if spentTime
        .date
          +cardSpentTime

    if members
      .minicard-members.js-minicard-members
        each members
          +userAvatar(userId=this)

    .minicard-custom-fields
      each customFieldsWD
        if definition.showOnCard
          .minicard-custom-field
            h3.minicard-custom-field-item
              = definition.name
            .minicard-custom-field-item
              +cardCustomField

    .badges
      if comments.count
        .badge(title="{{_ 'card-comments-title' comments.count }}")
          span.badge-icon.fa.fa-comment-o.badge-comment
          span.badge-text= comments.count
      if description
        .badge.badge-state-image-only(title=description)
          span.badge-icon.fa.fa-align-left
      if attachments.count
        .badge
          span.badge-icon.fa.fa-paperclip
          span.badge-text= attachments.count
      if checklists.count
        .badge(class="{{#if checklistFinished}}is-finished{{/if}}")
          span.badge-icon.fa.fa-check-square-o
          span.badge-text.check-list-text {{checklistFinishedCount}}/{{checklistItemCount}}
