template(name="cardMembersPopup")
  ul.pop-over-member-list.js-mem-list
    each board.members
      li.item(class="{{#if isCardMember}}active{{/if}}")
        a.name.js-select-member(href="#")
          +userAvatar(user=user size="small")
          span.full-name
            = user.profile.name
            | (<span class="username">{{ user.username }}</span>)
          if isCardMember
            i.fa.fa-check
