.result-card-list-wrapper
  margin: 1rem
  border-radius: 5px
  padding: 1.5rem
  padding-top: 0.75rem
  display: inline-block
  min-width: 250px
  max-width: 350px

.result-card-wrapper
  margin-top: 0
  margin-bottom: 10px

.result-card-context
  display: inline-block

.result-card-context-separator
  font-weight: bold

.result-card-context-list
  margin-bottom: 0.7rem

.result-card-block-wrapper
  display: inline-block
