template(name="resultCard")
  .result-card-wrapper
    a.minicard-wrapper.card-title(href=absoluteUrl)
      +minicard(this)
      //= card.title
    ul.result-card-context-list
      li.result-card-context(title="{{_ 'board'}}")
        .result-card-block-wrapper
          +viewer
            = getBoard.title
        if getBoard.archived
          i.fa.fa-archive
      li.result-card-context.result-card-context-separator
        = ' '
        | {{_ 'context-separator'}}
        = ' '
      li.result-card-context(title="{{_ 'swimlane'}}")
        .result-card-block-wrapper
          +viewer
            = getSwimlane.title
        if getSwimlane.archived
          i.fa.fa-archive
      li.result-card-context.result-card-context-separator
        = ' '
        | {{_ 'context-separator'}}
        = ' '
      li.result-card-context(title="{{_ 'list'}}")
        .result-card-block-wrapper
          +viewer
            = getList.title
        if getList.archived
          i.fa.fa-archive
