.js-add-subtask {
  color: #8c8c8c;
}
textarea.js-add-subtask-item,
textarea.js-edit-subtask-item {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}
.delete-text,
.subtask-title .js-delete-subtask,
.subtask-title .js-view-subtask,
.js-delete-subtask-item {
  color: #8c8c8c;
}
.delete-text:hover,
.subtask-title .js-delete-subtask:hover,
.subtask-title .js-view-subtask:hover,
.js-delete-subtask-item:hover {
  color: inherit;
}
.subtask-title .checkbox {
  float: left;
  width: 30px;
  height: 30px;

  line-height: 30px;
}
.subtask-title .title {

  line-height: 25px;
}
.subtask-title .subtasks-stat {
  margin: 0 0.5em;
  float: right;
  padding-top: 6px;
}
.subtask-title .subtasks-stat.is-finished {
  color: #3cb500;
}
.subtask-title .js-delete-subtask {
  margin: 0 0.5em;
}
.js-confirm-subtask-delete {
  background-color: #f7f7f7;
  position: absolute;
  float: left;
  width: 60%;
  margin-top: 0;
  margin-left: 13%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  z-index: 17;
  border-radius: 3px;
}
.js-confirm-subtask-delete p {
  position: relative;
  margin-top: 3%;
  width: 100%;
  text-align: center;
}
.js-confirm-subtask-delete p span {
  font-weight: bold;
}
.js-confirm-subtask-delete p i {
  font-size: 2em;
}
.js-confirm-subtask-delete .js-subtask-delete-buttons {
  position: relative;
  padding: left 2% right 2%;
}
.js-confirm-subtask-delete .js-subtask-delete-buttons .confirm-subtask-delete {
  margin-left: 12%;
  float: left;
}
.js-confirm-subtask-delete .js-subtask-delete-buttons .toggle-delete-subtask-dialog {
  margin-right: 12%;
  float: right;
}
#card-details-overlay {
  top: 0;
  bottom: -600px;
  right: 0;
  z-index: 15;
}

/* Fix for mobile Safari: ensure this doesn't block card interaction */
@media screen and (max-width: 800px) {
  #card-details-overlay {
    z-index: 15;
    pointer-events: none;
  }
}
.subtasks {
  background: #f7f7f7;
}
.subtasks.placeholder {
  background: #ccc;
  border-radius: 2px;
}
.subtasks.ui-sortable-helper {
  box-shadow: -2px 2px 8px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.5);
  transform: rotate(4deg);
  cursor: grabbing;
}
.subtasks-item {
  margin: 0 0 0 0.1em;
  line-height: 18px;
  font-size: 1.1em;
  margin-top: 3px;
  display: flex;
  background: #f7f7f7;
}
.subtasks-item.placeholder {
  background: #ccc;
  border-radius: 2px;
}
.subtasks-item.ui-sortable-helper {
  box-shadow: -2px 2px 8px rgba(0,0,0,0.3), 0 0 1px rgba(0,0,0,0.5);
  transform: rotate(4deg);
  cursor: grabbing;
}
.subtasks-item:hover {
  background-color: #ebebeb;
}
.subtasks-item .check-box {
  margin: 0.1em 0 0 0;
}
.subtasks-item .check-box.is-checked {
  border-bottom: 2px solid #3cb500;
  border-right: 2px solid #3cb500;
}
/* Unicode checkbox icons styling */
.subtasks-item .check-box-unicode {
  font-size: 1.3em;
  margin-right: 8px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
/* Grey checkmarks when grey icons setting is enabled */
body.grey-icons-enabled .subtasks-item .check-box.is-checked {
  border-bottom: 2px solid #7a7a7a;
  border-right: 2px solid #7a7a7a;
}
body.grey-icons-enabled .subtasks-item .check-box-unicode {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.85;
}
.subtasks-item .item-title {
  flex: 1;
  padding-left: 10px;
}
.subtasks-item .item-title.is-checked {
  color: #8c8c8c;
  font-style: italic;
}
.subtasks-item .item-title .viewer p {
  margin-bottom: 2px;
}