template(name="listBody")
  .list-body.js-perfect-scrollbar
    .minicards.clearfix.js-minicards
      if cards.count
        +inlinedForm(autoclose=false position="top")
          +addCardForm(listId=_id position="top")
      each cards
        +minicard(this)
      if currentUser.isBoardMember
        +inlinedForm(autoclose=false position="bottom")
          +addCardForm(listId=_id position="bottom")
        else
          a.open-minicard-composer.js-open-inlined-form
            i.fa.fa-plus
            | {{_ 'add-card'}}

template(name="addCardForm")
  .minicard.minicard-composer.js-composer
    .minicard-labels.js-minicard-composer-labels
    .minicard-details.clearfix
      textarea.minicard-composer-textarea.js-card-title(autofocus)
      .minicard-members.js-minicard-composer-members
  .add-controls.clearfix
    button.primary.confirm(type="submit") {{_ 'add'}}
    a.fa.fa-times-thin.js-close-inlined-form
