template(name="listHeader")
  .list-header.js-list-header
    +inlinedForm
      +editListTitleForm
    else
      h2.list-header-name(
        class="{{#if currentUser.isBoardMember}}js-open-inlined-form is-editable{{/if}}")
        = title
      a.list-header-menu-icon.fa.fa-bars.js-open-list-menu

template(name="editListTitleForm")
  .list-composer
    input.full-line(type="text" value=title autofocus)
    .edit-controls.clearfix
      button.primary.confirm(type="submit") {{_ 'save'}}
      a.fa.fa-times-thin.js-close-inlined-form
