template(name="listHeader")
  .list-header.js-list-header
    +inlinedForm
      +editListTitleForm
    else
      h2.list-header-name.js-open-inlined-form= title
      a.list-header-menu-icon.fa.fa-bars.js-open-list-menu

template(name="editListTitleForm")
  input.field.single-line(type="text" value="{{getCache title}}" autofocus)
  .edit-controls.clearfix
    input.primary.confirm(type="submit" value="{{_ 'save'}}")
    a.fa.fa-times.js-close-inlined-form
