@import 'nib'

dimmedCardColod = #eaeaea

.list-separator:not(.card-hidden) ~ .minicard-wrapper
  .minicard:not(.special-card):not(:hover)
    background-color: dimmedCardColod

.list.special-list-done
  .minicard:not(:hover)
    background-color: dimmedCardColod
  .minicard
    .minicard-title
      p
        text-decoration: line-through
.minicard-wrapper.card-dimmed .minicard:not(.special-card)
  background-color: dimmedCardColod

.minicard-wrapper.card-hidden
  display: none

.list
  box-sizing: border-box
  display: block
  flex-direction: column
  flex: 0 0 270px
  position: relative
  // Even if this background color is the same as the body we can't leave it
  // transparent, because that won't work during a list drag.
  background: darken(white, 13%)
  border-left: 1px solid darken(white, 20%)
  padding: 0
  float: left

  &:first-child
    margin-left: 5px
    border-left: none

  .card-details + &
    border-left: none



  &.placeholder
    background-color: rgba(0, 0, 0, .2)
    border-color: transparent
    box-shadow: none
    height: 100px

  &.list-composer, & .list-composer
    .open-list-composer
      color: #8c8c8c

    .list-name-input
      background: white
      margin: -3px 0 8px

.list-header
  flex: 0 0 auto
  margin: 20px 12px 4px
  position: relative
  min-height: 20px


  .list-header-left-icon
    display: none

  .list-header-name
    display: inline
    font-size: 16px
    line-height: 17px
    margin: 0
    font-weight: bold
    min-height: 9px
    min-width: 30px
    overflow: hidden
    text-overflow: ellipsis
    word-wrap: break-word

  .list-header-watch-icon
    padding-left: 10px
    color: #a6a6a6

  .list-header-menu
    position: absolute
    padding: 7px
    margin-top: 1px
    top: -@padding
    right: -@padding

  .list-header-plus-icon
    color: #a6a6a6
    margin-right: 5px
    padding-right: 15px
    padding-left: 15px

  .highlight
    color: #ce1414

.list-body
  flex: 1
  flex-direction: column
  display: block
  overflow-y: auto
  padding: 5px 11px
  height: calc(100% - 44px)

  .minicards
    flex-grow: 1
    flex-shrink: 0

    form
      margin-bottom: 9px

  .ps-scrollbar-y-rail
    transform: translateX(2px)

  .open-minicard-composer
    border-radius: 2px
    color: #8c8c8c
    display: block
    padding: 7px 10px
    position: relative
    text-decoration: none
    animation: fadeIn 0.3s

    i.fa
      margin-right: 7px

    &:hover
      background: #fafafa
      color: #222
      box-shadow: 0 1px 2px rgba(0,0,0,.2)

#js-wip-limit-edit
  padding-top: 2%

  p
    margin-bottom: 0

  input
    display: inline-block

  .wip-limit-value
    width: 20%
    margin-right: 5%

  .wip-limit-error
    display: none

  .soft-wip-limit
    margin-right: 8px

  div
    float: left

@media screen and (max-width: 800px)
  .mini-list
    flex: 0 0 60px
    height: 60px
    width: 100%
    border-left: 0px
    border-bottom: 1px solid darken(white, 20%)

  .list
    display: block
    width: 100%
    border-left: 0px


    &.placeholder
      flex: 0 0 60px
      height: 60px
      width: 100%
      border-left: 0px
      border-bottom: 1px solid darken(white, 20%)

  .list-header

    .list-header-left-icon
      display: inline
      padding: 7px
      padding-right: 27px
      margin-top: 1px
      top: -@padding
      left: -@padding

    .list-header-menu-icon
      position: absolute
      padding: 7px
      top: -@padding
      right: 17px
