template(name='list')
  .list.js-list(id="js-list-{{_id}}")
    .js-list-content
      +listHeader
      +listBody
      div
        if currentUser
          if allowAddCard
            +inlinedForm(autoclose=false position="bottom")
              +addCardForm(listId=_id position="bottom")
            else
              a.open-minicard-composer.js-card-composer.js-open-inlined-form
                i.fa.fa-plus
                | {{_ 'add-card'}} 
        else
          if showLoginToAddCard
            a.open-minicard-composer.js-login-to-add-card
                  i.fa.fa-plus
                  | {{_ 'add-card'}} 

        
