template(name="listHeader")
  .list-header.js-list-header
    +inlinedForm
      +editListTitleForm
    else
      h2.list-header-name(
        class="{{#if currentUser.isBoardMember}}js-open-inlined-form is-editable{{/if}}")
        = title
        if showCardsCountForList cards.count
          = cards.count
          span.lowercase
            |  {{_ 'cards'}}
      if currentUser.isBoardMember
        if isWatching
          i.list-header-watch-icon.fa.fa-eye
        a.list-header-menu-icon.fa.fa-navicon.js-open-list-menu

template(name="editListTitleForm")
  .list-composer
    input.list-name-input.full-line(type="text" value=title autofocus)
    .edit-controls.clearfix
      button.primary.confirm(type="submit") {{_ 'save'}}
      a.fa.fa-times-thin.js-close-inlined-form

template(name="listActionPopup")
  ul.pop-over-list
    li: a.js-toggle-watch-list {{#if isWatching}}{{_ 'unwatch'}}{{else}}{{_ 'watch'}}{{/if}}
  unless currentUser.isCommentOnly
    hr
    ul.pop-over-list
      li: a.js-add-card {{_ 'add-card'}}
      if cards.count
        li: a.js-select-cards {{_ 'list-select-cards'}}
    hr
    ul.pop-over-list
      li: a.js-close-list {{_ 'archive-list'}}
    hr
    ul.pop-over-list
      li: a.js-remove-list {{_ 'remove-list'}}

template(name="boardLists")
  ul.pop-over-list
    each currentBoard.lists
      li
        if($eq ../_id _id)
          a.disabled {{title}} ({{_ 'current'}})
        else
          a.js-select-list= title
