template(name='list')
  .list.js-list(id="js-list-{{_id}}"
                style="{{#unless collapsed}}--list-width:{{listWidth}}px;{{/unless}}"
                class="{{#if collapsed}}list-collapsed{{/if}} {{#if isMiniScreen}}mobile-view{{/if}}")
    +listHeader
    unless collapsed
      +listBody
      if canResizeList
        .list-resize-handle.js-list-resize-handle.nodragscroll

template(name='miniList')
  a.mini-list.js-select-list.js-list(id="js-list-{{_id}}" class="{{#if isMiniScreen}}mobile-view{{/if}}")
    +listHeader
