template(name='list')
  .list.js-list(id="js-list-{{_id}}"
                style="{{#unless collapsed}}max-width:{{listWidth}}px;{{/unless}}"
                class="{{#if collapsed}}list-collapsed{{/if}}")
    +listHeader
    +listBody

template(name='miniList')
  a.mini-list.js-select-list.js-list(id="js-list-{{_id}}")
    +listHeader
