template(name='list')
  if !isViewSwimlanes
    .list.js-list(id="js-list-{{_id}}")
    +listHeader
    +listBody
  else
    .list.js-list(id="js-list-{{_id}}")
    +listBody  

template(name='miniList')
  a.mini-list.js-select-list.js-list(id="js-list-{{_id}}")
    +listHeader
