template(name="listHeader")
  .list-header.js-list-header
    +inlinedForm
      +editListTitleForm
    else
      h2.list-header-name(
        class="{{#if currentUser.isBoardMember}}js-open-inlined-form is-editable{{/if}}")
        = title
      if currentUser.isBoardMember
        a.list-header-menu-icon.fa.fa-ellipsis-v.js-open-list-menu

template(name="editListTitleForm")
  .list-composer
    input.list-name-input.full-line(type="text" value=title autofocus)
    .edit-controls.clearfix
      button.primary.confirm(type="submit") {{_ 'save'}}
      a.fa.fa-times-thin.js-close-inlined-form

template(name="listActionPopup")
  ul.pop-over-list
    li: a.js-add-card {{_ 'add-card'}}
    if cards.count
      li: a.js-select-cards {{_ 'list-select-cards'}}
      li: a.js-move-cards {{_ 'list-move-cards'}}
      li: a.js-archive-cards {{_ 'list-archive-cards'}}
  hr
  ul.pop-over-list
    li: a.js-import-card {{_ 'import-card'}}
    li: a.js-close-list {{_ 'archive-list'}}

template(name="listMoveCardsPopup")
  +boardLists

template(name="listImportCardPopup")
  form
    label
      | {{_ 'card-json'}}
      //+editor(class="js-card-json" autofocus=true)
      textarea.js-card-json(placeholder="{{_ 'card-json-placeholder'}}" autofocus)
    input.primary.wide(type="submit" value="{{_ 'import'}}")

template(name="boardLists")
  ul.pop-over-list
    each currentBoard.lists
      li
        if($eq ../_id _id)
          a.disabled {{title}} ({{_ 'current'}})
        else
          a.js-select-list= title

template(name="listArchiveCardsPopup")
  p {{_ 'list-archive-cards-pop'}}
  input.js-confirm.negate.full(type="submit" value="{{_ 'archive-all'}}")
