template(name='list')
  .list.js-list(id="js-list-{{_id}}"
                style="{{#unless collapsed}}min-width:{{listWidth}}px;max-width:{{listConstraint}}px;{{/unless}}"
                class="{{#if collapsed}}list-collapsed{{/if}} {{#if autoWidth}}list-auto-width{{/if}}")
    +listHeader
    +listBody

template(name='miniList')
  a.mini-list.js-select-list.js-list(id="js-list-{{_id}}")
    +listHeader
