template(name='list')
  .list.js-list(id="js-list-{{_id}}")
    if board.view === 'board-view-lists'
      +listHeader
    +listBody

template(name='miniList')
  a.mini-list.js-select-list.js-list(id="js-list-{{_id}}")
    +listHeader
