template(name='list')
  .list.js-list(id="js-list-{{_id}}")
     if (board.view === 'board-view-swimlanes')
       if swimlaneId = 1
         +listHeader
    +listBody

template(name='miniList')
  a.mini-list.js-select-list.js-list(id="js-list-{{_id}}")
    +listHeader
