template(name="archivesSidebar")
  +basicTabs(tabs=tabs)

   +tabContent(slug="cards")
    each archivedCards
      .minicard-wrapper.js-minicard
        +minicard(this)
      p.quiet
        a.js-restore-card Restore
        | -
        a.js-delete-card Delete
      if cardIsInArchivedList
        p.quiet.small (warning: this card is in an archived list) <br>
    else
      p.no-items-message No archived cards.

   +tabContent(slug="lists")
    ul.archived-lists
      each archivedLists
        li.archived-lists-item
          button.js-restore-list
            i.fa.fa-undo
          = title
      else
        li.no-items-message No archived lists.
