template(name="archivesSidebar")
  +basicTabs(tabs=tabs)

   +tabContent(slug="cards")
    each archivedCards
      .minicard-wrapper.js-minicard
        +minicard(this)
      if currentUser.isBoardMember
        p.quiet
          a.js-restore-card {{_ 'restore'}}
          | -
          a.js-delete-card {{_ 'delete'}}
        if cardIsInArchivedList
          p.quiet.small ({{_ 'warn-list-archived'}})
    else
      p.no-items-message {{_ 'no-archived-cards'}}

   +tabContent(slug="lists")
    ul.archived-lists
      each archivedLists
        li.archived-lists-item
          if currentUser.isBoardMember
            p.quiet
              a.js-restore-list {{_ 'restore'}}
          = title
      else
        li.no-items-message {{_ 'no-archived-lists'}}
