template(name="boardConversionProgress")
  .board-conversion-overlay(class="{{#if isConverting}}active{{/if}}")
    .board-conversion-modal
      .board-conversion-header
        h3
          | ⚙️
          | {{_ 'converting-board'}}
        p {{_ 'converting-board-description'}}
      
      .board-conversion-content
        .conversion-progress
          .progress-bar
            .progress-fill(style="width: {{conversionProgress}}%")
          .progress-text {{conversionProgress}}%
        
        .conversion-status
          | ⚙️
          | {{conversionStatus}}
        
        .conversion-time(style="{{#unless conversionEstimatedTime}}display: none;{{/unless}}")
          | ⏰
          | {{_ 'estimated-time-remaining'}}: {{conversionEstimatedTime}}
      
      .board-conversion-footer
        .conversion-info
          | ℹ️
          | {{_ 'conversion-info-text'}}
