@import 'nib'

.swimlane-header-wrap
  display: flex;
  flex-direction: row;
  flex: 0 0 50px;

  .swimlane-header
    writing-mode: sideways-lr;
    font-size: 14px;
    line-height: 50px;
    margin: 0;
    font-weight: bold;
    min-height: 9px;
    min-width: 30px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
    text-align: center;

  .swimlane-header-menu
    position: absolute
    padding: 20px 20px
