template(name="swimlane")
  .swimlane.nodragscroll
    +swimlaneHeader
  unless collapseSwimlane
    .swimlane.js-lists.js-swimlane.dragscroll(id="swimlane-{{_id}}"
                                   style="height:{{swimlaneHeight}};")
      .swimlane-resize-handle.js-swimlane-resize-handle.nodragscroll
      if isMiniScreen
        if currentListIsInThisSwimlane _id
          +list(currentList)
        unless currentList
          if currentUser.isBoardMember
            unless currentUser.isCommentOnly
              +addListForm
          each lists
            +miniList(this)
      else
        if currentUser.isBoardMember
          unless currentUser.isCommentOnly
            +addListForm
        each lists
          if visible this
            +list(this)
          if currentCardIsInThisList _id ../_id
            +cardDetails(currentCard)

template(name="listsGroup")
  .swimlane.list-group.js-lists.dragscroll
    if isMiniScreen
      if currentList
        +list(currentList)
      else
        each lists
          +miniList(this)
    else
      each lists
        if visible this
          +list(this)
        if currentCardIsInThisList _id null
          +cardDetails(currentCard)

template(name="addListForm")
  unless currentUser.isWorker
    unless currentUser.isCommentOnly
      unless currentUser.isReadOnly
        unless currentUser.isReadAssignedOnly
          .list.list-composer.js-list-composer(class="{{#if isMiniScreen}}mini-list{{/if}}")
        .list-header-add
          +inlinedForm(autoclose=false)
            input.list-name-input.full-line(type="text" placeholder="{{_ 'add-list'}}"
              autocomplete="off" autofocus)
            if swimlaneLists.length
              | {{_ 'add-after-list'}}
              select.list-position-input.full-line
                each swimlaneLists
                  option(value="{{_id}}") {{title}}
            .edit-controls.clearfix
              button.primary.confirm(type="submit") {{_ 'save'}}
              .js-close-inlined-form
                i.fa.fa-times-thin
              unless currentBoard.isTemplatesBoard
                unless currentBoard.isTemplateBoard
                  span.quiet
                    | {{_ 'or'}}
                    a.js-list-template {{_ 'template'}}
          else
            a.open-list-composer.js-open-inlined-form(title="{{_ 'add-list'}}")
              i.fa.fa-plus

template(name="moveSwimlanePopup")
  if currentUser
    unless currentUser.isWorker
      label(for='move-swimlane-title') {{_ 'title'}}:
      input#move-swimlane-title.full-line(type="text" value="{{title}}" autofocus)
      label {{_ 'boards'}}:
      select.js-select-boards(autofocus)
        each toBoard in toBoards
          option(value="{{toBoard._id}}" selected="{{#if isSelectedBoard toBoard._id}}selected{{/if}}") {{toBoard.title}}

      label {{_ 'swimlanes'}}:
      select.js-select-swimlanes
        each swimlane in toSwimlanes
          option(value="{{swimlane._id}}" selected="{{#if isSelectedSwimlane swimlane._id}}selected{{/if}}") {{swimlane.title}}

      div
        input(type="radio" name="swimlane-position" value="above" checked id="swimlane-position-above" style="display: inline")
        label(for="swimlane-position-above") {{_ 'above-selected-swimlane'}}
      div
        input(type="radio" name="swimlane-position" value="below" id="swimlane-position-below" style="display: inline")
        label(for="swimlane-position-below") {{_ 'below-selected-swimlane'}}

      .edit-controls.clearfix
        button.primary.confirm.js-done {{_ 'done'}}

template(name="copySwimlanePopup")
  if currentUser
    unless currentUser.isWorker
      label(for='copy-swimlane-title') {{_ 'title'}}:
      input#copy-swimlane-title.full-line(type="text" value="{{title}}" autofocus)
      label {{_ 'boards'}}:
      select.js-select-boards(autofocus)
        each toBoard in toBoards
          option(value="{{toBoard._id}}" selected="{{#if isSelectedBoard toBoard._id}}selected{{/if}}") {{toBoard.title}}

      label {{_ 'swimlanes'}}:
      select.js-select-swimlanes
        each swimlane in toSwimlanes
          option(value="{{swimlane._id}}" selected="{{#if isSelectedSwimlane swimlane._id}}selected{{/if}}") {{swimlane.title}}

      div
        input(type="radio" name="swimlane-position" value="above" checked id="swimlane-position-above" style="display: inline")
        label(for="swimlane-position-above") {{_ 'above-selected-swimlane'}}
      div
        input(type="radio" name="swimlane-position" value="below" id="swimlane-position-below" style="display: inline")
        label(for="swimlane-position-below") {{_ 'below-selected-swimlane'}}

      .edit-controls.clearfix
        button.primary.confirm.js-done {{_ 'done'}}
