template(name="swimlane")
  .swimlane.nodragscroll
    +swimlaneHeader
  unless collapseSwimlane
    .swimlane.js-lists.js-swimlane.dragscroll(id="swimlane-{{_id}}"
                                   style="height:{{swimlaneHeight}};")
      if isMiniScreen
        if currentListIsInThisSwimlane _id
          +list(currentList)
        unless currentList
          if currentUser.isBoardMember
            unless currentUser.isCommentOnly
              +addListForm
          each lists
            +miniList(this)
      else
        if currentUser.isBoardMember
          unless currentUser.isCommentOnly
            +addListForm
        each lists
          if visible this
            +list(this)
          if currentCardIsInThisList _id ../_id
            +cardDetails(currentCard)

template(name="listsGroup")
  .swimlane.list-group.js-lists.dragscroll
    if isMiniScreen
      if currentList
        +list(currentList)
      else
        if currentUser.isBoardMember
          unless currentUser.isCommentOnly
            +addListForm
        each lists
          +miniList(this)
    else
      if currentUser.isBoardMember
        unless currentUser.isCommentOnly
          +addListForm
      each lists
        if visible this
          +list(this)
        if currentCardIsInThisList _id null
          +cardDetails(currentCard)

template(name="addListForm")
  unless currentUser.isWorker
    unless currentUser.isCommentOnly
      .list.list-composer.js-list-composer(class="{{#if isMiniScreen}}mini-list{{/if}}")
        .list-header-add
          +inlinedForm(autoclose=false)
            input.list-name-input.full-line(type="text" placeholder="{{_ 'add-list'}}"
              autocomplete="off" autofocus)
            if currentBoard.getLastList
              | {{_ 'add-after-list'}}
              select.list-position-input.full-line
                each currentBoard.lists
                  option(value="{{_id}}" selected=currentBoard.getLastList.title) {{title}}
            .edit-controls.clearfix
              button.primary.confirm(type="submit") {{_ 'save'}}
              .fa.fa-times-thin.js-close-inlined-form
              unless currentBoard.isTemplatesBoard
                unless currentBoard.isTemplateBoard
                  span.quiet
                    | {{_ 'or'}}
                    a.js-list-template {{_ 'template'}}
          else
            a.open-list-composer.js-open-inlined-form(title="{{_ 'add-list'}}")
              i.fa.fa-plus

template(name="moveSwimlanePopup")
  unless currentUser.isWorker
    label {{_ 'boards'}}:
    select.js-select-boards(autofocus)
      each toBoard in toBoards
        option(value="{{toBoard._id}}") {{toBoard.title}}

  .edit-controls.clearfix
    button.primary.confirm.js-done {{_ 'done'}}

template(name="copySwimlanePopup")
  unless currentUser.isWorker
    label {{_ 'boards'}}:
    select.js-select-boards(autofocus)
      each toBoard in toBoards
        option(value="{{toBoard._id}}" selected="{{#if $eq toBoard.title board.title}}1{{/if}}") {{toBoard.title}}

  .edit-controls.clearfix
    button.primary.confirm.js-done {{_ 'done'}}
