template(name="swimlaneHeader")
  .swimlane-header-wrap.js-swimlane-header
    +inlinedForm
      +editSwimlaneTitleForm
    else
      .swimlane-header(
        class="{{#if currentUser.isBoardMember}}js-open-inlined-form is-editable{{/if}}")
        = title
      .swimlane-header-menu
        unless currentUser.isCommentOnly
          a.fa.fa-plus.js-open-add-swimlane-menu.swimlane-header-plus-icon
          a.fa.fa-navicon.js-open-swimlane-menu

template(name="editSwimlaneTitleForm")
  .list-composer
    input.list-name-input.full-line(type="text" value=title autofocus)
    .edit-controls.clearfix
      button.primary.confirm(type="submit") {{_ 'save'}}
      a.fa.fa-times-thin.js-close-inlined-form

template(name="swimlaneActionPopup")
  unless currentUser.isCommentOnly
    ul.pop-over-list
      li: a.js-close-swimlane {{_ 'archive-swimlane'}}

template(name="swimlaneAddPopup")
  unless currentUser.isCommentOnly
    form
      input.swimlane-name-input.full-line(type="text" placeholder="{{_ 'add-swimlane'}}"
        autocomplete="off" autofocus)
      .edit-controls.clearfix
        button.primary.confirm(type="submit") {{_ 'add'}}
