template(name="progressBarTemplate")
  div.meter
    if ready
      if determinate
        span(style="{{progressCSS}}")
          | {{progressValue}} %
      else
        +progressBarLoading
    else
      +progressBarLoading


template(name="progressBarLoading")
  span
    | Loading