.datepicker-container
  .fields
    .left
      width: 56%
    .right
      width: 38%
  .datepicker
    width: 100%
    table
      width: 100%
      border: none
      border-spacing: 0
      border-collapse: collapse
      thead
        background: none
      td, th
        box-sizing: border-box