template(name='inlinedForm')
  if isOpen.get
    if equals classNames "js-new-comment-form"
      div.inlined-form.js-inlined-form(id=id class=classNames)
        +Template.contentBlock
    else
      form.inlined-form.js-inlined-form(id=id class=classNames)
        +Template.contentBlock
  else
    +Template.elseBlock
