.integration-form {
  padding: 0.7vh 0.7vw;
  border-bottom: 1px solid #ccc;
}
.flex,
.option {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.option {
  -webkit-border-radius: 0.4vw;
  border-radius: 0.4vw;
  background: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 0.2vh 0.3vh rgba(0,0,0,0.2);
  box-shadow: 0 0.2vh 0.3vh rgba(0,0,0,0.2);
  margin-top: 0.7vh;
  padding: 0.7vh 0.7vw;
}
