template(name="archivedBoards")
  h2
    i.fa.fa-archive
    | {{_ 'archived-boards'}}

  ul.archived-lists
    each archivedBoards
      li.archived-lists-item
        button.js-restore-board
          i.fa.fa-undo
          | {{_ 'restore-board'}}
        = title
    else
      li.no-items-message {{_ 'no-archived-board'}}
