@import 'nib'

position()
  if arguments[0] == cover
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
  else
    position: arguments

.board-wrapper
  position: cover

  .board-canvas
    position: cover
    transition: margin .1s

    .board-overlay
      position: cover
      top: -100px
      right: -400px
      background: black
      opacity: 0.33
      animation: fadeIn 0.2s
      z-index: 16

    &.next-sidebar
      margin-right: 248px

    &.is-dragging-active

      .list-composer,
      .open-minicard-composer
        display: none

  .lists
    align-items: flex-start
    display: flex
    flex-direction: row
    margin-bottom: 10px
    overflow: auto
    padding-bottom: 5px
    position: cover

    // In order for the card details pane to overlap the header we need to
    // virtually increase this container size with the below hack. (Note that it
    // is not possible to set overflow-x: auto, overflow-y: hidden as I
    // originally tried).
    padding-top: 10px
    top: -10px
