@import 'nib'

position()
  if arguments[0] == cover
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
  else
    position: arguments

.board-wrapper
  position: cover

  .board-canvas
    position: cover
    transition: margin .1s

    &.is-sibling-sidebar-open
      margin-right: 248px

    .lists
      align-items: flex-start
      display: flex
      flex-direction: row
      margin: 0 0 10px
      padding: 0 40px 5px 0
      overflow-x: auto
      overflow-y: hidden
      position: cover

    .board-overlay
      position: cover
      top: -100px
      right: -400px
      background: black
      opacity: 0.33
      animation: fadeIn 0.2s
      z-index: 16

    &.is-dragging-active
      .open-minicard-composer,
      .minicard-wrapper.is-checked
        display: none

.set-list-permission
  float: left
  margin-right: 10px

.org-member-auto-join-module
  margin-bottom: 8px
  .materialCheckBox
    height: 10px
    top: 0px
  .materialCheckBox.is-checked 
    height: 10px
    top: 0px

.org-member-auto-join-text
  margin-left: 10px
.org-member-auto-join
  float: left
  margin-bottom: 8px

