template(name="archivedBoards")
  h2
    i.fa.fa-diamond.fa-2x
    | Archived boards

  ul.archived-lists
    each archivedBoards
      li.archived-lists-item
        button.js-restore-board
          i.fa.fa-undo
          | Restore board
        = title
    else
      li.no-items-message No archived board.
