@import 'nib'

position()
  if arguments[0] == cover || arguments[0] == fixed-cover
    if arguments[0] == cover
      position: absolute
    else
      position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
  else
    position: arguments

.board-wrapper
  position: cover
  overflow-y: hidden;

  .board-canvas
    position: cover
    transition: margin .1s
    overflow-y: auto;

    &.is-sibling-sidebar-open
      margin-right: 248px

    .board-overlay
      position: fixed-cover
      top: -100px
      right: -400px
      background: black
      opacity: 0.33
      animation: fadeIn 0.2s
      z-index: 16

    &.is-dragging-active
      .open-minicard-composer,
      .minicard-wrapper.is-checked
        display: none
        
    .swimlanetop
        background: darken(white, 13%)
        display: flex
        flex-direction: row
        overflow: 0;
        max-height: 100%

@media screen and (max-width: 800px)
  .board-wrapper

    .board-canvas

      .swimlane
        border-bottom: 1px solid #CCC
        display: flex
        flex-direction: column
        margin: 0
        padding: 0 40px 0px 0
        overflow-x: hidden
        overflow-y: auto
