// We define a set of six board colors that we took from the FlatUI palette.
// http://flatuicolors.com
//
// XXX Centralizing all these properties in a single file just because their
// value is derived from the same color, doesn't make any sense. We should
// create a mixin/macro that would generate 6 versions of a given property and
// dispatch this list in the other stylus files.
setBoardColor(color)
  &#header,
  &.sk-spinner div,
  .board-backgrounds-list &.background-box,
  .board-list & a
    background-color: color

  .is-selected .minicard
    border-left: 3px solid color

  button[type=submit].primary, input[type=submit].primary
    background-color: darken(color, 20%)

  &.pop-over .pop-over-list li a:not(.disabled):hover,
  .sidebar .sidebar-content .sidebar-btn:hover,
  .sidebar-list li a:hover
    background-color: lighten(color, 10%)

  &#header #header-quick-access ul li.current
    border-bottom: 2px solid lighten(color, 10%)

  &#header #header-main-bar .board-header-btn.emphasis
    background: complement(color)

    &:hover,
    .board-header-btn-close
      background: darken(complement(color), 10%)

    &:hover .board-header-btn-close
      background: darken(complement(color), 20%)

  .materialCheckBox.is-checked
    border-bottom: 2px solid color
    border-right: 2px solid color

  .is-multiselection-active .multi-selection-checkbox
    &.is-checked + .minicard
      background: lighten(color, 90%)

    &:not(.is-checked) + .minicard:hover:not(.minicard-composer)
      background: lighten(color, 97%)

.board-color-light-green
  setBoardColor(#9ebd9e)

.board-color-info
  setBoardColor(#1b85b8)

.board-color-blue-grey
  setBoardColor(#566f7c)

.board-color-light-red
  setBoardColor(#935347)

.board-color-dark
  setBoardColor(#5a5255)

.board-color-brown
  setBoardColor(#745151)

.board-color-laravel
  setBoardColor(#f4645f)
