@import 'nib'

.board-wrapper
  left: 0
  top: 0
  bottom: 0
  right: 0
  position: absolute
  overflow: hidden

  .board-canvas
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    transition: margin .1s

    &.next-sidebar
      margin-right: 248px

.lists
  align-items: flex-start
  display: flex
  flex-direction: row
  margin-bottom: 10px
  overflow-x: auto
  overflow-y: hidden
  padding-bottom: 10px
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
