// We define a set of six board colors that we took from the FlatUI palette.
// http://flatuicolors.com

setBoardColor(color)
  &#header,
  &.sk-spinner div,
  .board-backgrounds-list &.background-box,
  .board-list & a
    background-color: color

  & .minicard.is-selected .minicard-details
    border-left: 3px solid color

  &.pop-over .pop-over-list li a:hover,
  button[type=submit].primary, input[type=submit].primary
    background-color: darken(color, 20%)

  &#header #header-quick-access ul li.current
    border-bottom: 2px solid lighten(color, 10%)

  &#header #header-main-bar .board-header-btn.emphasis
    background: complement(color)

    &:hover,
    .board-header-btn-close
      background: darken(complement(color), 10%)

    &:hover .board-header-btn-close
      background: darken(complement(color), 20%)

.board-color-nephritis
  setBoardColor(#27AE60)

.board-color-pomegranate
  setBoardColor(#C0392B)

.board-color-belize
  setBoardColor(#2980B9)

.board-color-wisteria
  setBoardColor(#8E44AD)

.board-color-midnight
  setBoardColor(#2C3E50)

.board-color-pumpkin
  setBoardColor(#E67E22)
