template(name="headerBoard")
  h1.header-board-menu.js-open-board-menu
    = title
    span.fa.fa-angle-down

  .board-header-btns.left
    unless isSandstorm
      a.board-header-btn.js-star-board(class="{{#if isStarred}}board-header-starred{{/if}}"
        title="{{# if isStarred }}{{_ 'click-to-unstar'}}{{ else }}{{_ 'click-to-star'}}{{/ if }} {{_ 'starred-boards-description'}}")
        span.board-header-btn-icon.icon-sm.fa(class="fa-star{{#unless isStarred}}-o{{/unless}}")
        //- XXX To implement
        span.board-header-btn-text Starred
    //-
      XXX Normally we would disable this field for sandstorm, but we keep it
      until sandstorm implements sharing capabilities

      a.board-header-btn.perms-btn.js-change-vis(class="{{#unless currentUser.isBoardAdmin}}no-edit{{/ unless}}" id="permission-level")
        span.board-header-btn-icon.icon-sm.fa(class="{{#if isPublic}}fa-globe{{else}}fa-lock{{/if}}")
        span.board-header-btn-text {{_ permission}}

    a.board-header-btn.js-search
      span.board-header-btn-icon.icon-sm.fa.fa-tag
      span.board-header-btn-text Labels

    //- XXX Clicking here should open a search field
    a.board-header-btn.js-search
      span.board-header-btn-icon.icon-sm.fa.fa-search
      span.board-header-btn-text {{_ 'search'}}

  //- +boardMembersHeader

template(name="boardMembersHeader")
  .board-header-members
    each currentBoard.members
      +userAvatar(userId=userId draggable=true showBadges=true)
    unless isSandstorm
      if currentUser.isBoardAdmin
        a.member.add-board-member.js-open-manage-board-members
          i.fa.fa-plus

template(name="boardMenuPopup")
  ul.pop-over-list
    li: a.js-rename-board {{_ 'rename-board'}}
    li: a.js-change-board-color Change color
    li: a Copy this board
    li: a Rules

template(name="boardChangeTitlePopup")
  form#ChangeBoardTitleForm
    label {{_ 'name'}}
      input.js-board-name(type="text" value="{{ title }}" autofocus)
      input.primary.wide.js-rename-board(type="submit" value="{{_ 'rename'}}")

template(name="boardChangePermissionPopup")
  ul.pop-over-list
    li
      a.js-select.light-hover(name="private")
        span.icon-sm.fa.fa-lock.vis-icon
        | {{_ 'private'}}
        if check 'private'
          span.icon-sm.fa.fa-check
        span.sub-name {{_ 'private-desc'}}
    li
      a.js-select.light-hover(name="public")
        span.icon-sm.fa.fa-globe.vis-icon
        | {{_ 'public'}}
        if check 'public'
          span.icon-sm.fa.fa-check
        span.sub-name {{_ 'public-desc'}}

template(name="boardChangeColorPopup")
  .board-backgrounds-list.clearfix
    each backgroundColors
      .board-background-select.js-select-background
        span.background-box(class="board-color-{{this}}")
          if isSelected
            i.fa.fa-check

template(name="createBoardPopup")
  .content.clearfix
    form#CreateBoardForm
      label(for="boardNewTitle") {{_ 'title'}}
      input#boardNewTitle.non-empty(type="text" name="name" placeholder="{{_ 'bucket-example'}}" autofocus)
      p.quiet
        span.icon-sm.fa.fa-globe
        | {{{_ 'board-public-info'}}}
      input.primary.wide(type="submit" value="{{_ 'create'}}")
