template(name="adminFeatures")
  .setting-content
    unless currentUser.isAdmin
      | {{_ 'error-notAuthorized'}}
    else
      .content-title.ext-box
        span
          span.emoji-icon
          i.fa.fa-flask
          | {{_ 'features'}}
      .content-body
        .side-menu
          ul
            li(class="{{#if isPerformanceActive}}active{{/if}}")
              a.js-features-menu(data-id="performance")
                span.emoji-icon
                i.fa.fa-tachometer
                | {{_ 'features-performance'}}
        .main-body
          if isPerformanceActive
            ul.setting-detail
              li.layout-form
                .title {{_ 'cards-loading'}}
                .form-group
                  select#cards-loading.js-cards-loading
                    each cardsLoadingOptions
                      if this.selected
                        option(value="{{value}}" selected) {{_ label}}
                      else
                        option(value="{{value}}") {{_ label}}
                p.description {{_ 'cards-loading-description'}}
                p.description {{_ 'cards-loading-lazy-note'}}
