template(name='information')
  .setting-content
    unless currentUser.isAdmin
      | {{_ 'error-notAuthorized'}}
    else
      .content-title
        span {{_ 'info'}}
      .content-body
        .side-menu
          ul
            li.active
              a.js-setting-menu(data-id="information-display") {{_ 'info'}}
        .main-body
          +statistics

template(name='statistics')
    table
      tbody
        tr
          th {{_ 'wekan_version'}}
          td {{statistics.version}}
        tr
          th {{_ 'node_version'}}
          td {{statistics.process.nodeVersion}}
        tr
          th {{_ 'os_type'}}
          td {{statistics.os.type}}
        tr
          th {{_ 'os_platform'}}
          td {{statistics.os.platform}}
        tr
          th {{_ 'os_arch'}}
          td {{statistics.os.arch}}
        tr
          th {{_ 'os_release'}}
          td {{statistics.os.release}}
        tr
          th {{_ 'os_uptime'}}
          td {{humanReadableTime statistics.os.uptime}}
        tr
          th {{_ 'os_loadavg'}}
          td {{numFormat statistics.os.loadavg.[0]}}, {{numFormat statistics.os.loadavg.[1]}}, {{numFormat statistics.os.loadavg.[2]}}
        tr
          th {{_ 'os_totalmem'}}
          td {{bytesToSize statistics.os.totalmem}}
        tr
          th {{_ 'os_freemem'}}
          td {{bytesToSize statistics.os.freemem}}
        tr
          th {{_ 'os_cpus'}}
          td {{statistics.os.cpus.length}}
