template(name='information')
  .setting-content
    unless currentUser.isAdmin
      | {{_ 'error-notAuthorized'}}
    else
      .content-title
        span
          i.fa.fa-info-circle
          | {{_ 'info'}}
      .content-body
        .side-menu
          ul
            li.active
              a.js-setting-menu(data-id="information-display")
                i.fa.fa-info-circle
                | {{_ 'info'}}
        .main-body
          +statistics

template(name='statistics')
    table
      tbody
        tr
          th Wekan {{_ 'info'}}
          td {{statistics.version}}
        tr
          th {{_ 'Meteor_version'}}
          td {{statistics.meteor.meteorVersion}}
        tr
          th {{_ 'Node_version'}}
          td {{statistics.process.nodeVersion}}
        tr
          th {{_ 'MongoDB_version'}}
          td {{statistics.mongo.mongoVersion}}
        tr
          th {{_ 'MongoDB_storage_engine'}}
          td {{statistics.mongo.mongoStorageEngine}}
        tr
          th {{_ 'MongoDB_Oplog_enabled'}}
          td {{statistics.mongo.mongoOplogEnabled}}
        tr
          th {{_ 'OS_Type'}}
          td {{statistics.os.type}}
        tr
          th {{_ 'OS_Platform'}}
          td {{statistics.os.platform}}
        tr
          th {{_ 'OS_Arch'}}
          td {{statistics.os.arch}}
        tr
          th {{_ 'OS_Release'}}
          td {{statistics.os.release}}
        tr
          th {{_ 'OS_Uptime'}}
          td {{humanReadableTime statistics.os.uptime}}
        tr
          th {{_ 'OS_Loadavg'}}
          td {{numFormat statistics.os.loadavg.[0]}}, {{numFormat statistics.os.loadavg.[1]}}, {{numFormat statistics.os.loadavg.[2]}}
        tr
          th {{_ 'OS_Totalmem'}}
          td {{bytesToSize statistics.os.totalmem}}
        tr
          th {{_ 'OS_Freemem'}}
          td {{bytesToSize statistics.os.freemem}}
        tr
          th {{_ 'OS_Cpus'}}
          td {{statistics.os.cpus.length}}
