template(name='invitationCode')
  .at-input#invitationcode
    label(for='at-field-code') {{_ 'invitation-code'}}

    input#at-field-invitationcode(type="text" name='at-field-invitationcode' placeholder="{{_ 'invitation-code'}}")
