.main-body
  overflow: scroll;

table
  border-collapse: collapse;
  width: 100%;
  color: #000;

  td, th
    border: 1px solid #d2d0d0;
    text-align: left;
    padding: 8px;

  tr:nth-child(even)
    background-color: #dddddd;

.ext-box
  display: flex;
  flex-direction: row;
  height: 34px;

  .ext-box-left
    display: flex;
    width: 40%

  span
    vertical-align: center;
    line-height: 34px;
    margin-right: 10px;

  input, button
    margin: 0 10px 0 0;
    padding: 0;

  button
    min-width: 60px;
