.main-body
  overflow: scroll;

table
  border-collapse: collapse;
  width: 100%;
  color: #000;

  td, th
    border: 1px solid #d2d0d0;
    text-align: left;
    padding: 8px;

  tr:nth-child(even)
    background-color: #dddddd;
