template(name="people")
  .setting-content
    unless currentUser.isAdmin
      | {{_ 'error-notAuthorized'}}
    else
      .content-title
        span {{_ 'people'}}
      .content-body
        .side-menu
          ul
            li.active
              a.js-setting-menu(data-id="people-setting") {{_ 'people'}}
        .main-body
          if loading.get
            +spinner
          else if people.get
            +peopleGeneral

template(name="peopleGeneral")
  table
    tbody
      tr
        th {{_ 'username'}}
        th {{_ 'fullname'}}
        th {{_ 'admin'}}
        th {{_ 'email'}}
        th {{_ 'verified'}}
        th {{_ 'createdAt'}}
        th {{_ 'active'}}
        th
      each user in peopleList
        +peopleRow(userId=user._id)

template(name="peopleRow")
  tr
    td.username {{ userData.username }}
    td {{ userData.profile.fullname }}
    td
      if userData.isAdmin
        | {{_ 'yes'}}
      else
        | {{_ 'no'}}
    td {{ userData.emails.[0].address }}
    td
      if userData.emails.[0].verified
        | {{_ 'yes'}}
      else
        | {{_ 'no'}}
    td {{ moment userData.createdAt 'LLL' }}
    td
      if userData.loginDisabled
        | {{_ 'no'}}
      else
        | {{_ 'yes'}}
    td
      a.edit-user
        | {{_ 'edit'}}

template(name="editUserPopup")
  form
    label.hide.userId(type="text" value=user._id)
    label
      | {{_ 'fullname'}}
      input.js-profile-fullname(type="text" value=user.profile.fullname autofocus)
    label
      | {{_ 'username'}}
      span.error.hide.username-taken
        | {{_ 'error-username-taken'}}
      input.js-profile-username(type="text" value=user.username)
    label
      | {{_ 'email'}}
      span.error.hide.email-taken
        | {{_ 'error-email-taken'}}
      input.js-profile-email(type="email" value="{{user.emails.[0].address}}")
    label
      | {{_ 'admin'}}
      select.select-role.js-profile-isadmin
        option(value="false") {{_ 'no'}}
        option(value="true" selected="{{user.isAdmin}}") {{_ 'yes'}}
    label
      | {{_ 'active'}}
      select.select-active.js-profile-isactive
        option(value="false") {{_ 'yes'}}
        option(value="true" selected="{{user.loginDisabled}}") {{_ 'no'}}
    hr
    label
      | {{_ 'password'}}
      input.js-profile-password(type="password")

    input.primary.wide(type="submit" value="{{_ 'save'}}")
