.flex
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

.setting-content
  padding 30px
  color: #727479
  background: #dedede
  width 100%
  height 100%
  position: absolute;

  .content-title
    font-size 20px

  .content-body
    display flex
    padding-top 15px
    height 100%

    .side-menu
      background-color: #f7f7f7;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      width: 250px;
      box-shadow: inset -1px -1px 3px rgba(0,0,0,.05);

      ul

        li
          margin: 0.1rem 0.2rem;

          &.active
            background #fff
            box-shadow 0 1px 2px rgba(0,0,0,0.15);

          &:hover
            background #fff
            box-shadow 0 1px 2px rgba(0,0,0,0.15);
          a
            @extends .flex
            padding: 1rem 0 1rem 1rem
            width: 100% - 5rem


            span
              font-size: 13px

    .main-body
      padding: 0.1em 1em

      ul
        li
          padding: 0.5rem 0.5rem;

          a
            .is-checked
              border-bottom: 2px solid #2980b9;
              border-right: 2px solid #2980b9;

            span
              padding: 0 0.5rem

          .admin-notice,
          .invite-people
            padding-left 20px;
            li
              min-width: 500px;

              ul.no-margin-bottom
                margin-bottom: 0;

              .bg-white
                a
                  background  #f7f7f7
                  &.is-checked
                    background #fff


.option
  @extends .flex
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 5px;
  padding: 5px;

.title
  font-weight 700;
  margin-bottom 0.5rem;
.description
  margin-bottom 0.5rem;
.bg-white
  background #f9fbfc;

.form-control.has-error
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

li.has-error
  color #a94442
  .form-group
    .form-control
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

